[2017-06-27 21:00] gatesn opened #2 "Avoid reexporting node dependencies from vscode-jsonrpc"
It seems like `services.ts` brings in a dependency on `vscode-base-languageclient/lib/base` which in turn tries to `require('net')`.

Given Monaco (vs VSCode) is designed to be web-based i think it makes sense for a languageclient to exist to power non-electron apps.

[2017-06-28 05:40] akosyakov commented on #2
I don't see dependencies from [base](https://github.com/TypeFox/vscode-languageserver-node/blob/master/client/src/base.ts) to vscode or net.

[2017-06-28 09:32] gatesn commented on #2
Apologies if this is incorrect, I'm not that familiar with TypeScript. When I try and import something from the monaco-languageclient package, I get this error:

[code]

Which I traced through the code as this:

https://github.com/TypeFox/monaco-languageclient/blob/bd0839a4a249c101fef738466cd21b2812460cd8/src/index.ts#L11

`export * from 'vscode-base-languageclient/lib/base';`

https://github.com/

[2017-06-28 09:35] akosyakov commented on #2
Could you show the whole output? Which command do you run? tsc?

[2017-06-28 09:43] gatesn commented on #2
[code]

[code]

[2017-06-28 09:51] akosyakov commented on #2
`vscode-jsonrpc` can be used in different environments, including node and browser, but dependencies are not mandatory

It looks more like webpack issue:
- you can drop using ts-loader, compile with tsc your code and use plain js-loader, it will be much faster, right now you recompiling everything including your dependencies
- as a quick workaround, you can mock node dependencies: https://webpack.

[2017-06-28 10:11] gatesn commented on #2
So I was aware dependencies are not mandatory, but it seems that the pipeSupport module is in the "import path" if the monaco-languageclient.

Anyway, if mocking out the jsonrpc module is the easiest, I might go with that. Thanks!

[2017-06-28 10:36] akosyakov commented on #2
@gatesn got it, please mock for now

[2017-06-29 13:12] spoenemann opened #3 "Don't send didChange notification for every single keystroke"
Currently the client sends `didChange` for every editor keystroke. This leads to bad performance in some scenarios. The client should gather multiple keystrokes and send a bulk notification after a customizable timeout. The default timeout could be something like 200 ms.

[2017-06-29 13:16] akosyakov commented on #3
[MonacoWorkspace ](https://github.com/TypeFox/monaco-languageclient/blob/master/src/workspace.ts) could accept as an arg timeout to buffer events, it should be optional and should be possible to disable it

[2017-07-10 17:52] sshumakov opened #4 "Improve the example to demonstrate usage of react-monaco-editor"
Hello, I am following your tutorial to setup monaco editor + language client/server in react based app.

I use [react monaco editor](https://github.com/superRaytin/react-monaco-editor) package + typescript + webpack and it works great.

When import language client, it fails due to multiple reasons during import.

import {
    BaseLanguageClient, CloseAction, ErrorAction,
    createMonacoServices,

[2017-07-10 20:18] akosyakov commented on #4
Yes, it is probably a reason.  Have you tried to use `require('monaco-languageclient')` instead of `import` from [editorWillMount callback](https://github.com/superRaytin/react-monaco-editor#do-something-before-editor-mounted)?

[2017-07-10 22:00] sshumakov commented on #4
Yes, tried to import it like that:

`import LanguageClient = require('monaco-languageclient')`

Afterwards, I even tried to modify bootstrap of app:

Before
[code]
After

[code]

Now it fails with new error:

[code]
This seems like an issue with loading monaco editor itself.

Part of webpack which defines alias for vs:

[code]

[2017-07-10 22:08] sshumakov commented on #4
Updated editor to "monaco-editor": "0.9.0". Seems that it is incompatible:

[2017-07-11 02:26] akosyakov opened #5 "Update to Monaco 0.9.x"

[2017-07-11 02:28] akosyakov commented on #4
@sshumakov `Error: define cannot be used indirect` could be another issue with loading AMD modules with webpack. Do you have `noParse` section as here https://github.com/TypeFox/monaco-languageclient/blob/master/example/webpack.config.js#L13?

[2017-07-11 02:28] akosyakov commented on #4
thx for reporting the issue with the latest monaco

[2017-07-11 19:31] sshumakov commented on #4
Yes, I have noParse section:

[code]

It seems that it fails on define('vs/base/browser/iframe'):

`define(__m[157/*vs/base/browser/iframe*/], __M([0/*require*/,1/*exports*/]), function (require, exports) {`

[Screenshot 1](https://ibb.co/eCaEea)
[Screenshot 2](https://ibb.co/isM4ea)

[2017-07-11 20:22] sshumakov commented on #4
Is it possible to change monaco-languageclient to not rely on global monaco variable defined and use passed variable instead? With usage of react-monaco-editor, I can render editor and get reference to it without any issues.

[2017-07-12 08:38] akosyakov commented on #4
Do you have `vs` alias in webpack config as here https://github.com/TypeFox/monaco-languageclient/blob/master/example/webpack.config.js#L19?

I will see how it can be done without breaking other clients. Unfortunately, right now I am busy.

[2017-07-12 19:20] sshumakov commented on #4
Yes, otherwise webpack shows the following error:

[code]

So I had to add it.

I uploaded webpack files:

- [webpack.config.js](https://gist.github.com/sshumakov/45d951633ddf978eefd3fafa27569870)
- [webpack.config.vendor.js](https://gist.github.com/sshumakov/d751b71031f6af4696afa495036777cc)

[2017-07-12 20:08] sshumakov commented on #4
It looks like loader doesn't load files like editor.main.js/editor.main.css etc. I expect that this is the reason of
error `bootstrap 3076785…:780 Error: define cannot be used indirect`

![loader](https://user-images.githubusercontent.com/12153148/28137684-62fd0fce-674e-11e7-9d81-f1d13182a866.png)

[2017-07-15 19:55] #5 closed

[2017-07-18 22:36] DAddYE opened #7 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
Hi,

I'm using create-react-app and when I import the package I get:

[code]

And the trace is:

[code]

Any ideas how to solve this?
Thanks

[2017-07-19 03:39] akosyakov commented on #7
You should use `noParse` and filter out `vscode-languageserver-types`.

[2017-07-19 19:34] DAddYE commented on #7
I tried with that and now I get:

[code]

Here my config:

[code]

[2017-07-20 05:00] akosyakov commented on #7
like that: https://github.com/TypeFox/monaco-languageclient/blob/master/example/webpack.config.js#L14, not everything from monaco-languageclient

btw should not you use a pipe to list alternatives? i.e. `/node_modules|vscode-languageserver-types/`

[2017-07-20 16:44] franzbecker opened #8 "Example build fails with Node.js 8"
I cannot build the example on my machine with:
[code]

That seems to be a problem when using a newer Node.js / NPM version as you can see on Travis:
https://travis-ci.org/franzbecker/monaco-languageclient/jobs/255741802

The error occurs while compiling TypeScript:
[code]

[2017-07-23 04:46] rcjsuen opened #10 "[examples] Clean up npm scripts"
On Windows it doesn't seem to like the `./node_modules/.bin/webpack` bit in the `build` script of the [package.json](https://github.com/TypeFox/monaco-languageclient/blob/8fad2e2bc7e34e687cd010680cef4fc99cead3a2/example/package.json#L30) file.

If I remove all that and just leave `webpack` then it will build. Note that `webpack` isn't on my `%PATH%` so I imagine it's correctly running the binary i

[2017-07-23 06:00] rcjsuen opened #11 "Fix triggering code action from the horizontal ruler"
Am I correct that `textDocument/codeActions` requests aren't happening? I'm guessing this is a Monaco problem or...?

[2017-07-23 10:27] sshumakov commented on #10
I had the same issue on Windows and this is how I split commands to avoid errors:

    "watch": "./node_modules/.bin/tsc -w",
    "clean": "./node_modules/.bin/rimraf lib",
    "copy": "cp src/index.html lib/index.html",
    "build": "npm run compile && npm run pack && npm run copy",
    "pack": "./node_modules/.bin/webpack",

[2017-07-23 11:21] rcjsuen commented on #11
Looks like the [marker in converter.ts](https://github.com/TypeFox/monaco-languageclient/blob/8fad2e2bc7e34e687cd010680cef4fc99cead3a2/src/converter.ts#L175-L179) has `null` for its `code` property so my language server isn't working. The diagnostics that was originally sent does have a code and it seems to be [converted correctly](https://github.com/TypeFox/monaco-languageclient/blob/8fad2e2bc7e3

[2017-07-23 12:05] rcjsuen commented on #11
I opened Microsoft/vscode#31275 which explains why the `code` property is being set to `null`.

However, I still can't figure out where my code actions are for diagnostics that have a non-zero code.

[2017-07-23 21:26] rcjsuen opened #12 "Services (Commands, Workspace) implementations for the standalone editor"
Ignoring the fact that `textDocument/codeActions` doesn't seem to be working for me (#11), I can't find any references to the `workspace/executeCommand` request in the code. Is this supported?

[2017-07-24 03:45] akosyakov commented on #12
One should subclass [MonacoWorkspace](https://github.com/TypeFox/monaco-languageclient/blob/master/src/workspace.ts) and implement `applyEdit`.

If you use only one editor, you can pass your editor to your subclass and apply changes directly.

[2017-07-24 03:54] akosyakov commented on #11
Do you have `glyphMargin` set to true?

[2017-07-24 04:08] akosyakov commented on #10
It should be fine to use commands with a short name after `npm install`. The PR is welcome.

[2017-07-24 07:36] rcjsuen commented on #11
@akosyakov Thanks for the tip! Setting it to `true` got the light bulb to show up. Unfortunately, clicking the light bulb doesn't do anything... :(

My language server works in VS Code and Eclipse LSP4E so I think I've implemented the protocol correctly...

[2017-07-24 07:41] akosyakov commented on #11
@svenefftinge maybe you know what can be missing on Monaco-side.

[2017-07-24 09:42] akosyakov commented on #11
@rcjsuen could be closed?

[2017-07-24 09:45] rcjsuen commented on #11
@akosyakov Not yet because clicking the light bulb doesn't do anything. :(

[2017-07-24 11:15] rcjsuen commented on #12
It seems like the commands that a server exposes aren't getting registered with the command registry. Every command that the server exposes in the `capabilities.executeCommandProvider.commands` array should be registered on the client with a callback to send a `workspace/executeCommand` request to the server.
[code]

[2017-07-24 11:27] akosyakov commented on #12
You should implement [Commands](https://github.com/TypeFox/vscode-languageserver-node/blob/master/client/src/services.ts#L165) interface and provide it as part of service to the language client.

[2017-07-24 11:28] akosyakov commented on #12
We should have a default implementation for the standalone editor that accepts a standalone editor and register commands on it.

[2017-07-27 07:25] svenefftinge commented on #11
Have you registered the commands that are sent through the CodeActions?
Clicking the bulb or pressing (<kbd>CMD</kbd> + <kbd>.</kbd>) should trigger the `IContextMenuService` with the appropriate commands.

[2017-07-27 08:37] Phantomape commented on #8
Any idea how to solve it ?

[2017-07-27 08:58] franzbecker commented on #8
Haven't had any time to research it any further, but it might be a TypeScript issue, see this discussion: https://github.com/Microsoft/TypeScript/issues/16985

The project should definitely use NPM 5 or Yarn in order to tie down the dependencies that are used for the build.

[2017-07-27 09:01] franzbecker commented on #8
Didn't have the time to research it any further, a quick Google searched revealed this issue: https://github.com/Microsoft/TypeScript/issues/16985 but not sure if it applies.

The project should definitely use NPM 5 or Yarn in order to tie down the dependencies that are used for the build.

[2017-07-27 10:05] rcjsuen commented on #11
No. My language server works in VS Code without me having to explicitly register so I didn't think I had to do anything.

Using the keybinding you suggested got a menu to popup with my command. It doesn't run because of #12 but at least the menu shows up anyway.

[2017-07-27 10:26] Phantomape commented on #8
I changed "import { listen, MessageConnection } from 'vscode-ws-jsonrpc';" to "import { MessageConnection } from 'vscode-jsonrpc'; import { listen } from 'vscode-ws-jsonrpc';", and somehow got it working. Not sure that is the actual reason behind this error cause I also have some other modifications besides this change. As I dig deeper into the package vscode-ws-jsonrpc, I found out that MessageCo

[2017-07-31 02:41] Phantomape commented on #8
I fixed this error using js8. I changed the dependency to `"monaco-languageclient": "^0.1.0"` in package.json instead of using source files in parent folder. Also, I change the compiler option to support es6 in addition to some other dependency paths. :)

[2017-08-02 06:08] Phantomape opened #15 "How to change uri in jsonrpc protocol"
I am trying to using monaco-languageclient to connect to my external language server. However, it seems that the server could not recognize the uri sent by the client side:
`2017-08-02 01:55:18,887 UTC - ERROR - pyls.language_server - CAUGHT
Traceback (most recent call last):
  File "/home/phantomape/Tools/anaconda2/lib/python2.7/site-packages/pyls/language_server.py", line 67, in wrapped
    retu

[2017-08-02 06:12] akosyakov commented on #15
The URI is hard coded in the client code: https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/client.ts#L26.

Particularly about the error you should open an issue for the py language server.

[2017-08-02 07:40] Phantomape commented on #15
Actually, if you remove the monaco.Uri.parse(...) part, the editor will automatically assign a uri like inmemory://model/1. Since this uri points to some resources in my computer, can I get the file path based on this uri?

[2017-08-02 07:44] akosyakov commented on #15
You should provide a file URI pointing to the file on your computer to Monaco.

[2017-08-02 09:41] Phantomape commented on #15
Solve the problem by providing a new file URI for the monaco-languageclient

[2017-08-02 09:41] #15 closed

[2017-08-04 06:54] Phantomape opened #16 "Can not require monaco-languageclient due to monaco is not defined"
I was trying to use this client in another project based on the react-monaco-editor. Sadly, I can't even import the language client.
`Uncaught ReferenceError: monaco is not defined
    at Object.<anonymous> (diagnostic-collection.js:4)
    at __webpack_require__ (bootstrap 5001b61…:555)
    at fn (bootstrap 5001b61…:86)
    at Object.<anonymous> (languages.js:9)
    at __webpack_require__ (bootstr

[2017-08-07 15:00] gatesn commented on #15
@Phantomape I've filed a bug for the Python error you're seeing: https://github.com/palantir/python-language-server/issues/89

@akosyakov I'm having trouble figuring out how to set the rootUri in the MonacoWorkspace? From some of the other tickets it appears you suggest subclassing and overriding functionality, would this also be the solution here?

[2017-08-07 15:45] akosyakov commented on #15
@gatesn right now yes, could you open an issue to allow providing a URI to `MonacoWorkspace`

[2017-08-07 16:35] gatesn opened #17 "Allow a rootUri to be provided to MonacoWorkspace"

[2017-08-07 21:06] gatesn opened #18 "Allow defining a language client supplier that is called on activation event"
Register a language client supplier that is run when the given activation event is triggered.

https://code.visualstudio.com/docs/extensionAPI/activation-events

[2017-08-08 07:30] akosyakov commented on #18
Could you elaborate?

[2017-08-09 18:39] gatesn commented on #2
So I added this to the webpack config:

[code]

Which seems to get past the issue. But now I'm running into this:

`WARNING in ./node_modules/vscode-languageserver-types/lib/main.js
3:24-31 Critical dependency: require function is used in a way in which dependencies cannot be statically extracted`

[2017-08-09 20:40] gatesn commented on #2
Found this as a duplicate: https://github.com/TypeFox/monaco-languageclient/issues/7

[2017-08-10 19:45] gatesn commented on #12
In fact, because Monaco modifies the command ID, the `MonacoLanguages` class also needs to take an editor instance and prefix the command IDs with the editor ID:

https://github.com/Microsoft/vscode/blob/875144b25bf95197aff9ed0a8229ae322701bdd1/src/vs/editor/standalone/browser/standaloneCodeEditor.ts#L170

e.g.

[code]

[2017-08-11 08:40] akosyakov commented on #16
How do you load monaco?

[2017-08-11 09:36] Phantomape commented on #16
@gatesn his repo for monaco languageclient solved my problem, now I can import monaco

[2017-08-11 09:36] #16 closed

[2017-08-11 11:15] akosyakov commented on #16
So `react-monaco-editor` with `monaco-languageclient` works for you nicely?

[2017-08-11 18:27] #17 closed

[2017-08-14 03:11] Phantomape commented on #16
yes, the monaco-languageclient works fine and I can import it right now, but since some packages like vscode-base-languageclient is compiled into es6 instead of es5, I still have some modifications to do before my example works.

[2017-08-14 05:17] jbymy2000 opened #23 "Support of code completions based on workspace"
Suppose I have two different files in the same workspace, how to do code completions based on them, say one file is imported in another file. Right now I can only provide code completions for only one file.

[2017-08-23 14:26] gatesn opened #24 "Migrate to vscode-languageclient instead of vscode-base-languageclient"
As per https://github.com/Microsoft/vscode-languageserver-node/issues/88, an abstract BaseLanguageClient has now been exposed in the library.

It looks like a pretty significant change to monaco-languageclient to implement this, however it does unfork the library so probably worth taking on.

[2017-08-25 08:49] akosyakov commented on #7
@DAddYE have you managed to get it working?

Could it be that vs loader is not imported? https://github.com/TypeFox/monaco-languageclient/blob/493188fb4da23ac867f9132d9a2980dbaa955e7b/example/src/index.html#L6

[2017-08-25 08:49] akosyakov commented on #2
I would like to keep it open, #7 seems to be a bogus setup.

[2017-08-25 17:24] akosyakov commented on #8
It is because of npm5: https://github.com/TypeFox/monaco-languageclient/pull/19#issuecomment-324984839

Should be fixed by: https://github.com/TypeFox/monaco-languageclient/pull/25

[2017-08-25 17:30] akosyakov commented on #10
@sshumakov thank you!

[2017-08-25 17:30] #10 closed

[2017-08-27 20:06] akosyakov commented on #23
Could you provide more information, please? How many editors do you have? Which language server do you use?

It is the responsibility of the language server to provide completions given that proper `rootUri` is provided, i.e. pointing to the location of workspace on the disk.

[2017-08-27 20:11] akosyakov commented on #24
BaseLanguageClient merged in https://github.com/Microsoft/vscode-languageserver-node/issues/88 is only abstract from node env, but has dependencies on vscode and cannot be used with Monaco.

I'm fond of an idea of dropping vscode-base-languageclient in favor of vscode-languageclient instead. To make it happens the following should be done:
- vscode-base-languageclient should be rebased on vscode-l

[2017-08-27 20:21] akosyakov commented on #18
Could you elaborate on `when the given activation event is triggered`? Monaco is not VS code, but just its editor, there are no activation events. I would like to understand why you need it?

This repo only provides the language client for Monaco and don't care how it will be activated. I will argue that is out of the scope and the responsibility of the user code, e.g. in Theia the template method

[2017-08-27 20:25] akosyakov commented on #4
PRs are welcomed. The react page should be added to the existing example.

[2017-08-27 21:55] gatesn commented on #18
This question doesn't really make sense now I look back at it...

[2017-08-27 21:55] #18 closed

[2017-08-27 21:57] gatesn commented on #2
The issue I had was that vscode-* libraries are compiled for ES6, however I was using ES5 and therefore required a babel web pack loader to use them.

[2017-08-28 11:07] akosyakov commented on #8
Fixed by https://github.com/TypeFox/monaco-languageclient/pull/25

[2017-08-28 11:07] #8 closed

[2017-08-29 07:19] akosyakov opened #26 "Migrate to monaco 0.10.0"

[2017-08-29 07:20] akosyakov opened #27 "Setup an additional build against the latest Monaco version"

[2017-08-29 07:40] akosyakov commented on #11
After https://github.com/TypeFox/monaco-languageclient/pull/21 gets merged there will be a light build for the code action in the example project.

When one clicks on it nothing happens then the code action is expected which converts the whole document to the uppercase.
Triggering the code actoin with keyboard (<kbd>CMD</kbd> + <kbd>.</kbd>) works though.

[2017-08-29 07:41] akosyakov commented on #11
@rcjsuen if you are interested feel free to investigate it. I've sent your invitation with the write access that you can open the PR in this repo instead of the fork.

[2017-08-30 04:52] #12 closed

[2017-08-30 04:54] akosyakov commented on #23
I am going to close this issue if there are no objections.

[2017-08-30 04:54] akosyakov commented on #7
I am going to close this issue if there are no objections.

[2017-08-30 04:56] akosyakov commented on #11
It is still the issue, see https://github.com/TypeFox/monaco-languageclient/issues/11#issuecomment-325581448

[2017-08-30 05:38] rcjsuen commented on #11
If you step through the code you will see that [the menu does get shown](https://github.com/Microsoft/vscode/blob/aca01f2daab4b038c809e81494cba14a1970f7f6/src/vs/platform/contextview/browser/contextMenuHandler.ts#L88-L112). However, it then [becomes hidden](https://github.com/Microsoft/vscode/blob/aca01f2daab4b038c809e81494cba14a1970f7f6/src/vs/platform/contextview/browser/contextMenuHandler.ts#L1

[2017-08-30 05:50] akosyakov opened #28 "Add the npm version and download badges"
See https://shields.io/

[2017-08-30 05:54] akosyakov commented on #11
I wonder whether it is reproducible without `monaco-languageclient` with the latest version of the Monaco editor. If it is we need to open an issue for monaco itself.

[2017-08-30 08:39] rcjsuen commented on #11
I (think I) wiped everything related to `monaco-languageclient` from the `example/` folder and was still able to reproduce the problem just by manually [registering a CodeActionProvider](https://github.com/Microsoft/monaco-editor/blob/v0.9.0/monaco.d.ts#L4010) on Monaco 0.9.0.

[2017-08-30 09:08] akosyakov commented on #11
@rcjsuen looks like a bug in Monaco then, I usually try to reproduce it the [playground](https://microsoft.github.io/monaco-editor/playground.html) and post a bug with the code snippet here: https://github.com/Microsoft/monaco-editor/issues

[2017-08-30 09:37] rcjsuen commented on #11
Thanks for the pointer, @akosyakov. I totally forgot about the Monaco Editor Playground.

I've opened [Microsoft/monaco-editor#574](https://github.com/Microsoft/monaco-editor/issues/574).

[2017-08-30 14:31] akosyakov commented on #26
@rcjsuen thank you for the PR!

[2017-08-30 14:31] #26 closed

[2017-08-30 21:53] rcjsuen opened #30 "Tag v0.2.0 on GitHub"
Assuming the 0.2.0 release to npm has been successful, a `v0.2.0` should be created and pushed to GitHub.

[2017-08-31 06:09] akosyakov commented on #30
thank you, done

[2017-08-31 06:09] #30 closed

[2017-08-31 06:09] #23 closed

[2017-08-31 06:09] #7 closed

[2017-09-07 12:55] akosyakov opened #31 "Pass options with rootUri to createMonacoServices"
`createMonacoServices` should accept options as the second optional argument to pass rootUri to the workspace service now and additional options in the future
https://github.com/TypeFox/monaco-languageclient/blob/b901301fe10c7a51e3b6faa35863bb69c93fcd11/src/services.ts#L12

[2017-09-09 01:29] jtokoph opened #32 "Sending configuration options"
Is there an example of sending configuration options to the language server? For example, I'd like to be able to send a list of plugin options to the python language server. In vscode, it uses the synchronize option to send vscode config values. How would I go about manually sending config values from the monaco-language client?

These are the options I want to be able to send: https://github.com/

[2017-09-10 12:51] akosyakov commented on #32
@jtokoph The monaco-languageclient is abstracted away from VS code via services, e.g. `Workspace` service provides an access to configurations which are used by the language client.
https://github.com/TypeFox/vscode-languageserver-node/blob/9449b41d27e4ffb0d72c1f5a85c47d1beead6073/client/src/services.ts#L144-L163

By the default, the subset of the services is implemented to support the standalone

[2017-09-10 12:54] akosyakov commented on #32
We could also pass an instance of `Configurations` to `MonacoWorkspace` via options (depends on https://github.com/TypeFox/monaco-languageclient/issues/31). And provide the default `InMemoryConfigurations` implementation.

[2017-09-10 12:55] akosyakov commented on #32
PRs are welcomed. @jtokoph feel free to look into it

[2017-09-22 06:27] akosyakov commented on #31
Fixed with #31, thanks @cdietrich

[2017-09-22 06:27] #31 closed

[2017-09-22 06:36] #28 closed

[2017-09-22 06:39] cdietrich commented on #32
#31 is done now

[2017-09-22 06:57] cdietrich opened #35 "Prepare a new Release"
It would be super cool to have the latest changes released. thanks

[2017-10-10 09:51] gatesn opened #36 "Lots of codeAction requests on initialize"
When starting a language client that supports code actions, for some reason 17 identical codeAction requests are sent to the server.

Will dig deeper into this, but wanted to file an issue in case others stumble across it.

[2017-10-24 12:54] rcjsuen commented on #36
Can this bug be reproduced with the regular example? I can't seem to reproduce it but maybe I'm putting print statements in the wrong places?

[2017-10-27 08:49] richardmward opened #37 "Question: multiple editors per language client now createMonacoServices takes an editor instance"
Hi,

I have been using the monaco-languageclient library for a while, with my implementation based on the example in this project. Previously `createMonacoServices` did not take any arguments, but now it takes a single `editor` parameter. My (probably incorrect!) understanding of this call was to bind the language server protocols onto the monaco event handlers and vice-versa, and this was for the

[2017-10-28 07:14] akosyakov commented on #37
Hi @richardmward!

if you find it useful please star the repo :)

No, usually one per a language server for all editors. As for now, in the special scenario as yours, I won't use `creatMonacoServices` but create services myself.

An idea was that default services created by `creatMonacoServices` are used in the case of the single standalone editor, not with multiple editors. We can discuss it and

[2017-10-30 13:13] richardmward commented on #37
Many thanks for the info - and star added!

At this time I am not registering any commands, so that isn't a concern. That said, I will be looking to start using the `codeAction` functionality in the future - will that require the commands service to be able to cope with multiple editors?

[2017-11-08 11:40] akosyakov commented on #37
@richardmward yes, if your server provides commands

[2017-11-09 07:54] amarnath-mishra opened #38 "Question:How can i spawn language server remotely?"
I am trying to keep my monaco language client and my language server on different machines. As I can see in the example folder we can start the language server externally from here --> const extJsonServerPath = path.resolve(__dirname, 'file to start the server..');  but my confusion is when my language server will be on a different machine, how it will have the access of file system of remote mach

[2017-11-09 08:09] akosyakov commented on #38
Hi @amarnath-mishra! Could you elaborate on your case? What are you trying to achieve?
Generally, a language server should be spawned on the machine where the file system resides.
In the example, the express server spawns a language server on the same machine and then exposes it via the web socket to the client, i.e. a user via the browser can access it.

[2017-11-09 08:43] amarnath-mishra commented on #38
![flow](https://user-images.githubusercontent.com/17015419/32595757-1ce9d708-c557-11e7-8b40-c3256871d3ec.png)

Hi, yes you are right. But what i am trying to achieve is somewhat explained in the above diagram. basically i am trying to send language code from editor(monaco editor) to monaco language client which will decide which language server to start, though I am not yet sure if this is possibl

[2017-11-09 08:56] akosyakov commented on #38
The Monaco language client can be run only in the browser. You can have multiple instances of language clients per a language and connect them to different servers.

As an alternative, i can imagine that you build a dispatching language server, deploy it on the router machine and connect the monaco language client from the browser to it.

[2017-11-23 10:52] amarnath-mishra commented on #38
Yeah, I kind of did the same, thanks a lot..

[2017-11-23 20:22] JanKoehnlein opened #39 "Support CompletionItem.additionalTextEdits"
`CompletionItem#additionalTextEdits` from the langauge server are currently not converted.

I'd need that for the new Go language server to automatically add a missing import, when a function from a not yet imported package is chosen as a completion.

[2017-11-24 10:15] akosyakov commented on #39
Unfortunately, monaco does not support it. We will need to expose some internal VS code APIs to register custom completion item providers.

[2017-11-27 15:18] akosyakov commented on #39
PRs are welcomed.

It should be first fixed in vscode: https://github.com/Microsoft/monaco-editor/issues/642#issuecomment-347200856

- Monaco typings should be adjusted
- [conversions](https://github.com/Microsoft/vscode/blob/63efefc7c279e7c963d223123d7248137034252a/src/vs/editor/standalone/browser/standaloneLanguages.ts#L626) should be adjusted as well

After that, it should be fixed in this repo

[2017-12-03 16:31] gmichaud opened #40 "Question: compatibility with OmniSharp C# language server"
I recently discovered Monaco and the language client project - I reviewed the example included in this project and am now interested to modify it to work with the OmniSharp Language Server (https://github.com/OmniSharp/csharp-language-server-protocol). Before I spend too much time on this, I wanted to know if this had been attempted or if I should already expect some incompatibilities between both

[2017-12-03 19:40] svenefftinge commented on #40
We have not yet tried the omnisharp language server, but if it conforms to the LSP it should work. Anyways, let us know if you run into trouble and we will try to help.

[2017-12-08 03:03] dirathea opened #41 "Monaco Editor with Python Language Server"
# Summary
I've tried to use  PYLS on Monaco Editor using [Monaco Language Client](https://github.com/TypeFox/monaco-languageclient) with the following configuration

[code]
And everything that [this blog](http://typefox.io/teaching-the-language-server-protocol-to-microsofts-monaco-editor) explained.

Everything works as expected but the auto complete. When I do `ctrl + space` on the editor, there'

[2017-12-08 06:24] akosyakov commented on #41
It looks like a python error from pyls.

[2017-12-08 06:24] #38 closed

[2017-12-08 06:24] akosyakov commented on #40
I close it, please open if there is a concrete issue.

[2017-12-08 06:24] #40 closed

[2017-12-08 06:26] #37 closed

[2017-12-08 07:04] dirathea commented on #41
Ahh.. I see... thanks for previewing my issue @akosyakov
Besides this issue, is there any "special configurations" for connecting monaco with pyls? I've checked [your PYLS fork](https://github.com/TypeFox/python-language-server) and wondering is there any changes on it.

[2017-12-10 01:57] svenefftinge commented on #41
There is not, I think I once intended doing a PR but than didn't. Removed the fork.

[2017-12-10 01:57] #41 closed

[2017-12-20 09:33] SamVerschueren commented on #4
Would it be possible to fork `vscode-languageserver-types` and transpile to a webpack friendly format like `commonjs`? I did it locally and it worked perfectly fine. Couldn't get the umd bundle to work, even with the `noparse` option. Would be happy to fork it and release under a different name/namespace. Another benefit is that users from Angular-CLI or create-react-app aren't able to edit the `w

[2017-12-20 15:48] gmichaud commented on #40
In case anyone is interested, I gave up trying to use the language server protocol and went for a simpler route - I connected the Monaco Editor directly to OmniSharp-Roslyn. I'll wait for full support in OmniSharp-Roslyn or in Monaco to be completed before attempting again. Thanks.

[2017-12-21 21:52] gatesn commented on #4
The way I've got it working is to add noParse _and_ pass through the Babel loader:

[code]

[2017-12-22 07:27] SamVerschueren commented on #32
I managed to get this working by implementing my own configuration class.

[code]

After that, you can set the `workspace.configurations` object.

[code]

If I find some time, I can do a PR.

[2017-12-23 12:29] SamVerschueren commented on #4
The downside is that this is not an option for Angular-CLI, Vue-CLI, create-react-app users as the `webpack.config.js` is not available. I transpiled it to CJS myself and replaced the contents in my `node_modules` folder and it worked out immediately.

[2017-12-28 16:52] JulCesWhat commented on #4
@SamVerschueren Have you been able to use monaco-languageclient in an Angular CLI project? Is there a way that I could see an example source code?

[2017-12-28 16:56] SamVerschueren commented on #4
Yes, I wrapped it in a module https://github.com/SamVerschueren/ngx-monaco

[2017-12-28 17:15] SamVerschueren commented on #4
Ah, you mean the languageclient... No I did not, without manually overriding the languageserver-types with a CJS friendly version.

[2017-12-28 17:34] JulCesWhat commented on #4
I am willing to override it for now until there is a better solution. Is there a way that I could get your CJS friendly version? Thanks for your help by the way.

[2017-12-28 17:50] SamVerschueren commented on #4
I could put it in a gist if you want. I basically checked out that repository and manually compiled it to CJS instead of UMD.

[2017-12-28 18:10] JulCesWhat commented on #4
Gist would be amazing.

[2017-12-28 18:42] SamVerschueren commented on #4
@JulCesWhat Here you go https://gist.github.com/SamVerschueren/7bf41ae319280c8386a3ca430fad3bbe

[2018-01-08 15:41] akosyakov commented on #32
@SamVerschueren feel free to open the PR

[2018-01-08 15:41] akosyakov opened #42 "Get-rid of monaco-editor-core dependency"
Using monaco-editor should be enough.

[2018-01-14 05:27] rcjsuen commented on #15
@gatesn Did you ever get around to opening a ticket about the missing `rootUri` property?

I found sourcegraph/javascript-typescript-langserver#372 and it seems to stem from the same problem of that property not being included in the `initialize` request.

[2018-01-14 08:30] rcjsuen commented on #15
Never mind, looks like this was fixed by #31! :)

[2018-01-14 14:52] #35 closed

[2018-01-14 14:52] akosyakov commented on #15
@rcjsuen just released a patch version with these changes

[2018-01-14 17:10] akosyakov commented on #4
in response to https://github.com/TypeFox/monaco-languageclient/issues/4#issuecomment-353012404:
@SamVerschueren Ideally, we don't want to maintain forks. I've opened an issue: https://github.com/Microsoft/vscode-languageserver-node/issues/303

[2018-01-29 06:29] vincentLiuxiang opened #45 "`textDocument/didChange` Did not follow the LSP protocol"
hi all, I just want to try lsp in monaco, and I was very excited to find this project.
However, When I tried to analyze the websocket data package, I found a bug.

![image](https://user-images.githubusercontent.com/10772305/35496302-704d6a0c-0500-11e8-8187-9928e8344613.png)

then, I tried to analyze theia-ide, It works fine.

![image](https://user-images.githubusercontent.com/10772305/35496345-b8a

[2018-01-29 07:16] akosyakov commented on #45
Hi @vincentLiuxiang, could you be more specific that does not follow the LSP?

[2018-01-29 08:17] vincentLiuxiang commented on #45
@akosyakov
You can look at the red square inside the pictures.
[textDocument/didChange](https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#didchangetextdocument-notification-arrow_right)

In LSP, when the method is `textDocument/didChange`, the params must be DidChangeTextDocumentParams
[code]

but `monaco-languageclient` send data to sever like this:
[code]
the d

[2018-01-29 08:23] akosyakov commented on #45
It depends on a language server, the json server used in the example is not able to handle incremental changes, so the client always sends the whole document. A server can communicate it as a part of exchanging initialization capabilities. Look for `TextDocumentSyncKind` in the specification.

[2018-01-29 08:25] vincentLiuxiang commented on #45
### monaco-languageclient

![15](https://user-images.githubusercontent.com/10772305/35500121-53334012-0510-11e8-8af9-f6e90a771a28.gif)

### theia-ide
![15](https://user-images.githubusercontent.com/10772305/35500274-ef217e1c-0510-11e8-8af8-1a5c59ec8aa2.gif)

[2018-01-29 08:28] vincentLiuxiang commented on #45
so, if My server support handle  incremental changes, I can get the same result like the theia-ide?

what's more could you give an example that is closer to the production environment? java, js and so on?

[2018-01-29 08:31] vincentLiuxiang commented on #45
@akosyakov I am very new in LSP, I have Look for TextDocumentSyncKind in the specification. Thank you very much!

[2018-01-29 08:32] akosyakov commented on #45
@vincentLiuxiang You are welcome, I am closing it.

[2018-01-29 08:32] #45 closed

[2018-01-31 14:27] afroozeh opened #47 "Problem in connecting to an external Java language server"
I'm trying to use your library to connect monaco to an external Java Language Server.

I tried both https://github.com/eclipse/eclipse.jdt.ls and https://github.com/georgewfraser/vscode-javac.
It looks like that I can connect to the server, and the 'initialize' message is sent, but
after that there is no communication between the client and server.

In order to connect to the external Java server,

[2018-01-31 14:49] akosyakov commented on #47
`createServerProcesss` will use stdin/stdout for communications, it seems that `vscode-javac` is using sockets instead:
- https://github.com/georgewfraser/vscode-javac/blob/a36635d29240ea4f460149b65e1f4281ab7725c3/lib/Main.ts#L63
- https://github.com/georgewfraser/vscode-javac/blob/92a11c89fba02d0dbe94d2ce2f367622612731a9/src/main/java/org/javacs/Main.java#L100

[2018-01-31 16:22] afroozeh commented on #47
Thanks! I replaced sockets with standard io in 'vscode-javac' and it looks like that now I can communicate with the server:

[code]
However, nothing happens after this point. I think this is because the monaco-editor is not linked to a file on the server. Is there a way to identify a document on the server instead of 'inmemory://..'

[2018-01-31 16:27] akosyakov commented on #47
There are 2 things:
- when you create an instance of the Monaco editor you should provide a file URI
- the second you can provide a workspace URI when you create Monaco services: https://github.com/TypeFox/monaco-languageclient/blob/f0f2c10a66ec7f7e88e35d7e3f446a3ad219643b/src/services.ts#L24

[2018-01-31 19:39] lyudad opened #48 "server configuration for new language"
In example server was used  `vscode-json-languageservice` as LanguageService. But if I want use language that doesn't has existed `languageservice` packages (`javascript`).
On client side everything clear (register language, set configuration)
[code]

but on the server side I can't find what I should return on connection events (for example for `connection.onCompletion`)

[2018-01-31 20:27] afroozeh commented on #47
Great! by providing the file URL, the language server can send me some diagnostic messages and provide completion. My concern is that I have to provide the full file path on the server, which may not be desirable to expose it in the client code. Is there a way around it?

Also, I noticed that I don't get Java syntax highlighting in the editor. A standalone monaco editor can show syntax highlightin

[2018-01-31 22:01] rcjsuen commented on #47
@afroozeh Did you try providing a valid file URI that doesn't point to the actual path of the file (for example like a `test/src2/Test.java`? It may be a limitation of the Java language server that it is incapable of working with "fake" files. As Java requires a build path and (outside of homework assignments) multiple other Java source files to compile, it is not unreasonable for the language ser

[2018-02-01 09:26] afroozeh commented on #47
@rcjsuen I cannot get it working with an abstract URL, but you are right, I should contact the Java Language Server team to see if there is a way around it.

@akosyakov @rcjsuen About the syntax highlighting, a standalone monaco editor can show syntax highlighting for the 'java' language even without registering the language, but when I run the example from this repository the syntax highlighting

[2018-02-01 09:33] akosyakov commented on #47
Java language should be registered, you can do it with https://github.com/Microsoft/monaco-languages

[2018-02-01 09:56] afroozeh commented on #47
monaco-editor has all the language definitions in it: "This npm module is bundled and distributed in the monaco-editor npm module."

The problem is that monaco-languageclient has a dependency on monaco-editor-core which doesn't have the languages inside by default. I removed the dependency on monaco-editor-core and syntax highlighting works out of the box :-) I already see a PR for removing the de

[2018-02-01 09:58] #42 closed

[2018-02-01 09:59] akosyakov commented on #47
@afroozeh I've just merged it

[2018-02-01 09:59] afroozeh commented on #47
Great, thanks for your help. I'm closing the issue now!

[2018-02-01 09:59] #47 closed

[2018-02-01 10:05] akosyakov commented on #47
You are welcome, please don't forget to :star: the repo :pray:

[2018-02-01 10:08] akosyakov commented on #48
@lyudad Hi, the language server for js/ts does exist: https://github.com/theia-ide/typescript-language-server

You can look at the ts extension for Theia https://github.com/theia-ide/theia/tree/master/packages/typescript/src. It is a bit involving but it shows how to integrate it with Monaco.

[2018-02-01 10:12] lyudad commented on #48
Thanks. I will look.

[2018-02-01 10:12] #48 closed

[2018-02-01 10:29] akosyakov commented on #48
You are welcome! if you find projects interesting, please :star: their repos :pray:

[2018-02-01 21:55] afroozeh opened #50 "Electron support"
I have a working example that runs in the browser, but when I try to run it in electron, I get the error:

[code]
which appears to come from `main.ts` file. I also tried to run it in electron based on this example:

https://github.com/Microsoft/monaco-editor-samples/blob/master/sample-electron/index.html

but somehow cannot get it working with webpack packaging and the resulting `bundle.js`.

Any

[2018-02-02 06:12] akosyakov commented on #50
Have you looked at https://github.com/Microsoft/monaco-editor-samples/blob/master/sample-electron/index.html? There are special handling to be done to preserve an original require, use a proper base URI and workaround some languages.

We have to do the same in Theia: https://github.com/theia-ide/theia/blob/master/packages/monaco/src/electron-browser/monaco-electron-module.ts

[2018-02-02 15:56] afroozeh commented on #50
@akosyakov Thanks, I think with the Theia code sample you sent, I can get it running!

[2018-02-02 15:56] #50 closed

[2018-02-03 16:26] akosyakov opened #52 "add electron example"

[2018-02-03 16:27] akosyakov commented on #50
welcome, opened an issue to add an example for electron: https://github.com/TypeFox/monaco-languageclient/issues/52

maybe you can look into it :)

[2018-02-09 11:08] rcjsuen opened #53 "Support textDocument/documentLink and documentLink/resolve"
Link providers are mentioned in the [`Languages` interface](https://github.com/TypeFox/vscode-languageserver-node/blob/e0c1f194dabede0409f0d8f4e4e2eeccc65e1535/client/src/services.ts#L122) but there is no implementation for it in [`MonacoLanguages`](https://github.com/TypeFox/monaco-languageclient/blob/d3da16ce3c372478d4af574af5743601f402e968/src/languages.ts).

[2018-02-09 11:11] akosyakov commented on #53
Does Monaco support it?

[2018-02-09 11:13] rcjsuen commented on #53
I'm [assuming](https://microsoft.github.io/monaco-editor/api/modules/monaco.languages.html#registerlinkprovider) [yes](https://github.com/Microsoft/monaco-editor/blob/bad3c34056624dca34ac8be5028ae3454172125c/monaco.d.ts#L4053).

[2018-02-09 12:52] rcjsuen commented on #53
Likely need to add support for `documentLink/resolve` also. Though the linking story in the LSP and Monaco differs slightly so it's not as easy as it seems.

Please see Microsoft/monaco-editor#719.

[2018-02-11 00:07] rcjsuen commented on #53
I've opened #54 to add support to both `textDocument/documentLink` and `documentLink/resolve`.

[2018-02-12 06:55] rcjsuen commented on #53
Fixed by merging in #54.

[2018-02-12 06:55] #53 closed

[2018-02-12 08:18] JanKoehnlein commented on #39
Now that the vscode changes are merged. What is left to do?

[2018-02-12 08:22] rcjsuen commented on #39
@JanKoehnlein If I understand correctly, I think the Monaco Editor packages need to be updated and published to npm so that it can be consumed here.

[2018-02-12 12:26] rcjsuen opened #57 "Add pure browser example"
Would it be possible to create an example that doesn't depend on using Node.js to serve the content?

What I'm imagining is some pure JavaScript code that converts between Monaco and LSP types and then delegates to the language service (very much like what's done in [json-server.ts](https://github.com/TypeFox/monaco-languageclient/blob/cfacfcc33702cea7375ea7a37b5dc3d14b2cd4ff/example/src/json-serv

[2018-02-12 12:31] akosyakov commented on #57
Yes, I think it should be possible. Would you look into it?

[2018-02-12 13:16] rcjsuen commented on #57
I tried making some changes but got some webpack warnings. It also died when I opened the file in the browser.
[code]
[code]

[2018-02-13 10:43] rcjsuen commented on #57
The error seems to be the same error reported in #7. I tried the `noParse` trick but then I just get other problems at runtime.
[code]
**client.ts:**
[code]
**webpack.config.js:**
[code]

[2018-02-13 11:58] rcjsuen commented on #57
Maybe we need to write it in a way like the [monaco-json](https://github.com/Microsoft/monaco-json) project?

[2018-02-13 12:03] akosyakov commented on #57
`noParse` stops working as soon as umd module does require request, for Theia we switched to a bit better hack to unwrap umd modules that webpack can handle them: https://github.com/theia-ide/theia/pull/1233

[2018-02-13 12:40] rcjsuen commented on #57
Thanks, @akosyakov. I made changes to the `package.json` and `webpack.config.js` based on the pull request you linked to and it's now building okay.

I took out a lot of dependencies to test things out so I'm going to start adding things back in bit by bit to see how far I can get. I'll submit a pull request once I have a working example that matches what's in the `/example/` folder.

Would it be

[2018-02-14 08:08] akosyakov commented on #57
I think it would be fine to have a top level `examples` folder.

[2018-02-14 10:44] rcjsuen commented on #57
I've completed the example and have opened pull request #59.

[2018-03-02 08:50] vincentLiuxiang opened #60 "Go to definition for java *.class file (textDocument/definition)"
Hi all,
How could I  go to definition for some apis like `System.out.println` which is defined in `jdt://xxxx/rt.jar/java.io/PrintStream.class` within `monaco-languageclient`?

[2018-03-02 09:04] vincentLiuxiang commented on #60
Could I open a new file (`jdt://xxxx/rt.jar/java.io/PrintStream.class`) within function `provideDefinition`?. However  `provideDefinition` was defined inside `monaco-languageclient`.

[code]

[2018-03-02 12:42] vincentLiuxiang commented on #60
I have solved this problem! [https://github.com/Microsoft/monaco-editor/issues/291](https://github.com/Microsoft/monaco-editor/issues/291)

[2018-03-02 12:42] #60 closed

[2018-03-14 21:35] rcjsuen opened #61 "Update to Monaco 0.11.x"
A new version of Monaco has been published. We should update `monaco-languageclient` to the new version. This will allow us to close #39.

I would consider Microsoft/monaco-editor#756 a blocker at the moment though... :(

[2018-03-15 09:20] akosyakov commented on #61
Cool! But we can start working on a PR anyway?

[2018-03-15 09:45] rcjsuen commented on #61
@akosyakov Of course. I went over the changes this morning so I have something ready already. I have opened #63.

[2018-03-17 06:58] akosyakov commented on #36
@gatesn I close it, please reopen if it still relevant

[2018-03-17 06:58] #36 closed

[2018-03-17 07:09] akosyakov opened #64 "Add ESM examples"
Current example uses AMD to load Monaco. It would be nice to have an example demonstrating ESM integration as well: https://github.com/Microsoft/monaco-editor/blob/master/docs/integrate-esm.md

Depends on https://github.com/TypeFox/monaco-languageclient/pull/63

[2018-03-17 07:27] #11 closed

[2018-03-17 07:33] akosyakov commented on #61
@rcjsuen thank you!

[2018-03-17 07:33] #61 closed

[2018-03-17 07:33] akosyakov commented on #39
Should be resolved by https://github.com/TypeFox/monaco-languageclient/pull/63

[2018-03-17 07:39] akosyakov opened #65 "Catch up with the LSP changes"
Monaco 0.11.6 supports new language features like implementation, type definition and color providers. Which as well supported by the latest LSP: https://github.com/Microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.ts.

It would be nice to sync them.

The easiest solution will be to change `vscode-base-languageclient` to support new providers.

The more sustainable solution is

[2018-03-17 07:42] rcjsuen commented on #39
Sorry, I should've been clearer with [what I said](https://github.com/TypeFox/monaco-languageclient/issues/61#issue-305337514). This isn't fixed yet because the code is still commented out. I didn't want to just uncomment the code without verifying it.

https://github.com/TypeFox/monaco-languageclient/blob/1542fc57730755718cde3e0a0b9e257ea96cf933/src/converter.ts#L108-L114

[2018-03-17 11:06] akosyakov commented on #64
It is turned out to be easier to switch an existing example to ESM.

[2018-03-17 11:15] akosyakov commented on #64
Although, ESM is the cleaner approach it slows down bundling by 6s on my machine.

[2018-03-18 08:16] #39 closed

[2018-03-18 08:16] akosyakov commented on #64
Fixed with https://github.com/TypeFox/monaco-languageclient/pull/66

[2018-03-18 08:16] #64 closed

[2018-03-21 08:38] vincentLiuxiang opened #67 "Click lightbulb context menu && How to register a command with the specified id?"
hi，@akosyakov  could you give me some idea?

[Click lightbulb context menu && How to register a command with the specified id?](https://github.com/Microsoft/monaco-editor/issues/782)

[2018-03-21 08:48] rcjsuen commented on #67
@vincentLiuxiang Which version of Monaco and monaco-languageclient are you using?

Please paste your package.json file here.

[2018-03-21 08:59] vincentLiuxiang commented on #67
@rcjsuen I clone the latest version from this repo today.

and import `monaco-editor` from

`https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.js`

monaco vesion: 0.11.6.

And then, could you compile the package `vscode-base-languageclient` from ts to es5? or My project will uglify failed!

Because of this reason I have to compile `vscode-base-languagec

[2018-03-21 11:56] rcjsuen commented on #67
@vincentLiuxiang Please put debugging print statements or whatever and see what commands get registered in the `MonacoCommands` class.

https://github.com/TypeFox/monaco-languageclient/blob/557ef39258b05da48c4e403b39465094c3d3f86a/src/commands.ts#L11-L16

[2018-03-21 16:09] akosyakov commented on #67
@vincentLiuxiang you can implement this command with https://github.com/TypeFox/monaco-languageclient/blob/master/src/workspace.ts#L94 and register it for Monaco

You are welcome to open a PR.

[2018-04-15 09:43] rcjsuen commented on #57
#59 has been merged into `master`.

[2018-04-15 09:43] #57 closed

[2018-04-28 09:18] nils-christian opened #75 "Connecting monaco with Xtext language server"
Hi,

First of all: Thank you for providing us with an extension for monaco to use the lsp. However, I am having trouble to use this (unfortunately, I have to say also due to the lack of good documentation) in my context. I am trying to implement a (web socket based) language server. I used more or less the example from [here](https://github.com/cdietrich/xtext-languageserver-example/blob/master/or

[2018-04-29 06:35] akosyakov commented on #75
@nils-christian We don't have an example with Java-based server you are welcome to add one. Although it should not be Xtext-based but something simple and common.

If you stick with the node-based server from examples then it should be possible to connect it to the Xtext LS over the stdin by changing https://github.com/TypeFox/monaco-languageclient/blob/beca1e697bef460a721c2889d3b4afd5369b7ea7/exa

[2018-05-02 06:01] cdietrich commented on #75
i tried that using websockets and the main problem was that one: https://github.com/TypeFox/vscode-ws-jsonrpc/issues/6

[2018-05-02 08:43] spoenemann commented on #75
Find an example of integrating monaco-languageclient with an Xtext language server here:

https://github.com/OpenKieler/elkgraph-web

[2018-05-07 03:18] Louis-7 commented on #45
I know this issue has been closed but I saw the screen shot, there is a "Content-Length: 25x" at the beginning of the data return by web-socket which as same as my project which use the language server provide by monaco-languageclient. This "Content-Length" will cause an error at language server side. But I didn't see it in the example given by monaco-languageclient. I'm wondering why I have this

[2018-05-07 10:34] Louis-7 opened #76 "Connect my project with language server"
Hi,

I'm trying to connect my own project with language server which in example. I use angular-cli create the project and use [ngx-monaco-editor](https://github.com/atularen/ngx-monaco-editor). I copy the example code into my project and it can connect to language server but when I edit source code in monaco, it didn't send/receive message from language server which unlike the example provided in

[2018-05-07 10:41] akosyakov commented on #76
Hi! It would help if you can share a project.

[2018-05-07 11:52] Louis-7 commented on #76
@akosyakov Sure, I will work on it then back here.

[2018-05-08 08:37] akosyakov commented on #76
There were changes in vscode-ws-jsonrpc to pass JSON-RPC messages as is. It seems that you are running the language server with this changes, but the client is still using the old version: https://github.com/Louis-7/angular-monaco-languageclient/blob/c211f83cc773a068e7606cce82fe4c43b9f2a4ed/package.json#L30

[2018-05-09 02:39] Louis-7 commented on #76
I update the dependency as you said, but there is a new error in browser.

`Uncaught ReferenceError: setImmediate is not defined`

I also tried use version@0.0.2-1, but I got same error. Seems the error is occur when _vscode-ws-jsonrpc_ call some method in _vscode-jsonrpc_

[2018-05-09 13:22] AlexTugarev opened #77 "[security] Update example dependencies"
The build is failing because `http-proxy-agent` and  `https-proxy-agent`, required by `request-light`, are identified as highly vulnerable.

`cd examples && npm install && npm audit` shows this:

[code]

[2018-05-09 14:15] simark opened #78 "README build instructions out of date"
The README says to use `npm run build`, but the `build` script doesn't exist.

[2018-05-09 14:29] rcjsuen commented on #78
@simark Those instructions are for the example. The `build` script seems to be there.

https://github.com/TypeFox/monaco-languageclient/blob/beca1e697bef460a721c2889d3b4afd5369b7ea7/examples/browser/package.json#L20-L31

https://github.com/TypeFox/monaco-languageclient/blob/beca1e697bef460a721c2889d3b4afd5369b7ea7/example/package.json#L31-L40

[2018-05-09 15:05] simark commented on #78
Ah yes sorry, it's actually quite clear as-is.

[2018-05-09 15:05] #78 closed

[2018-05-10 08:42] akosyakov commented on #77
PRs are welcomed as usual.

[2018-05-10 09:42] Louis-7 commented on #76
I update my code to fix some build error and it still have the error I mentioned. I also try to modify vscode-jsonrpc library, but it still not working at all.

[2018-05-12 02:35] rcjsuen opened #79 "Upgrade to Monaco 0.13.x"
Looks like Monaco 0.13.0 has been [released](https://github.com/Microsoft/monaco-editor/commit/6dc4fba5deb2b730d3ef8fc99262a1d5dbcb3b4d).

[2018-05-14 07:52] AlexTugarev commented on #77
The build is no longer failing 😕

[2018-05-14 08:05] Louis-7 commented on #76
I found the root cause. It's because the version of monaco I use have a defect. I close this issue now.

[2018-05-14 08:05] #76 closed

[2018-05-14 11:43] rcjsuen commented on #76
@Louis-7 Interesting. Which bug was it?

[2018-05-15 01:27] Louis-7 commented on #76
@rcjsuen you can find it [here](https://github.com/Microsoft/monaco-editor/issues/839).

`MarkerSeverity ` is not exported and monaco-languageclient is using it in [converter.ts](https://github.com/TypeFox/monaco-languageclient/blob/master/src/converter.ts). That's why I got the errors I mentioned and it's a bug with ESM (I use angular-cli).

[2018-05-24 10:22] nikeee opened #80 "Question: Best practice for Browser-Side LS integration"
I've got a language serivce written in TypeScript. It uses the types from `vscode-languageserver-types` to define a service, so that I can just delegate the actual LSP calls to the TS implementation. This is in a base library, which I want to use in the browser aswell.

I want this to be completely client-side and currently, I've provoded most features with some glue code similar to the code in [t

[2018-05-24 11:18] rcjsuen commented on #80
You don't technically have to provide all the edits immediately. You can ask the language service only when the `Command` gets executed. This does require the use of Monaco internals though.

Please review my example code [here](https://github.com/rcjsuen/dockerfile-language-service/blob/b64359866f52581b22b0e10ae9f774cfdb5802b0/example/src/client.ts#L47-L70). Perhaps it may be of some help to you.

[2018-05-24 11:40] nikeee commented on #80
Accessing the private field of the editor seems like a hack to me. This is a basic feature, is there not better way?

[2018-05-24 11:51] rcjsuen commented on #80
Unfortunately, that's the world we live in here, @nikeee.

Not that I know of. You can take it up with the [Microsoft/monaco-editor team](https://github.com/Microsoft/monaco-editor). Their [`addCommand` function](https://github.com/Microsoft/monaco-editor/blob/d7ef525b1d2ab817b9542644bf53af7ce2bd4042/monaco.d.ts#L1054-L1058) does not let one define an id so...

[2018-05-28 03:14] sally2015 commented on #41
@dirathea Have you solve the question now, can you give me a simple demo, thanks

[2018-05-28 07:10] sally2015 commented on #41
@dirathea Actually, I don't know how to apply `Python Language Server`  to the `Monaco Editor` which is embeded in the online website. Can you give me the simple demo, thank you very much

[2018-05-28 11:31] rcjsuen commented on #41
@sally2015 https://github.com/TypeFox/monaco-languageclient/issues/75#issuecomment-385163286 and https://github.com/TypeFox/monaco-languageclient/issues/75#issuecomment-385229537 might help you get started a little.

The main thing you usually have to figure out is how to start the language server. If you're able to do that from the command line just use the same invocation in `json-server-launche

[2018-05-29 20:02] rcjsuen commented on #80
I believe when I last debugged it they both went through the same code, @nikeee. I could be wrong though.

If you can find an alternative way that works without using internals you could perhaps contribute a fix to [`commands.ts`](https://github.com/TypeFox/monaco-languageclient/blob/beca1e697bef460a721c2889d3b4afd5369b7ea7/src/commands.ts).

What you described seems to make sense to me. You're ri

[2018-05-29 20:08] rcjsuen commented on #80
I see you have opened Microsoft/monaco-editor#900. :)

[2018-06-06 16:47] arogozhnikov opened #81 "How do I get proper highlighting (e.g. for python)?"
I see that highlighting works if I replace
[code]
(and add `monaco-editor` as a dependency). But this breaks the client due to difference in interfaces.
This fails  even if I use monaco 0.12.0, same as used by monaco-languageclient.

[2018-06-06 20:57] rcjsuen commented on #81
@arogozhnikov Could you please show the errors caused by the “difference in interfaces”?

[2018-06-07 16:01] arogozhnikov commented on #81
I'm using latest version of package
[code]

[2018-06-09 09:00] arogozhnikov commented on #81
ping. Any ideas?

[2018-06-09 11:27] rcjsuen commented on #81
Sorry, no. I have reproduced the problem but can't figure anything out off-hand. Hacking around it by casting it to `any` does work but that is of course not ideal.

[code]

[2018-06-09 13:13] arogozhnikov commented on #81
@rcjsuen ok, will try with casting.

[2018-06-20 12:15] mariomurrent-softwaresolutions opened #82 "Build does not work"
You README is not up to date. I can't get this project up and running with the instruction from the README.

npm run build is not present. If I use the commands from an earlies (closed) ticket it does not work either.

[2018-06-20 15:32] rcjsuen commented on #82
I see `npm run build` in `example/package.json`.

https://github.com/TypeFox/monaco-languageclient/blob/beca1e697bef460a721c2889d3b4afd5369b7ea7/example/package.json#L31-L40

Which folder are you in, @mariomurrent-softwaresolutions?

[2018-06-21 07:59] mariomurrent-softwaresolutions commented on #82
Yes, but the build fails with:

npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! @monaco-languageclient/example@0.0.1 compile: `tsc`
npm ERR! Exit status 2

[2018-06-21 08:20] akosyakov commented on #82
Could you post all commands which you run as well env information as yarn, npm, node, python versions?

[2018-06-21 08:48] mariomurrent-softwaresolutions commented on #82
I run npm install. I had to edit the cp command to copy on windows. Python version is 2.7, npm 5.6.0 node version is 8.11.2

[2018-07-03 18:24] anshullodha commented on #41
were you able to achieve that @sally2015.
Does anyone have any suggestion on how to implement a `Python Language Server` to the `Monaco Editor` which is embeded in the online website.

[2018-07-04 09:36] akosyakov commented on #41
@sally2015 I see you were able to figure it out https://github.com/Microsoft/monaco-editor/issues/833#issuecomment-402301159

If you think there is something can be done to help other, like add a comment to [this line](https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/json-server-launcher.ts#L19), you are welcome to open a PR :)

[2018-07-05 04:31] lzfxxx commented on #82
I has similar problem, I has run `npm i && npm run build` in `root`, `example` and `examples/browser`, but only in `root` it succeeded.

[code]

[2018-07-05 17:28] anshullodha commented on #41
@akosyakov I was able to run the [example](https://github.com/TypeFox/monaco-languageclient/tree/master/example) provided with Monaco Language Client. The question of this thread, how to implement a `Python Language Server` for `Monaco Editor` on a online website?, is yet to be solved.

[2018-07-05 18:14] rcjsuen commented on #41
@anshullodha What do you mean? If you got the example to run then you have a working website. Did I misunderstand something?

[2018-07-09 18:29] jackscott6174 opened #84 "CompletionItem with period in label"
I'm having issues getting completion to work with special characters.
For the simple completion provider below:
[code]
If we type `te` and press enter, we correctly get `test.one`.
If we type `on` and press enter, we correctly get `test.one`.
But if we type `test.on` and press enter, we get `test.test.one`.
This seems like an issue with tokenization, which is not handled by the LSP.
Is there a sim

[2018-07-13 02:03] nadeeshaan opened #85 "Compatible Language Sever Version"
What is the currently supported latest Language Server Version in monaco-laguage-client?

[2018-07-13 10:15] akosyakov commented on #85
It should be 3.4.0. We are planning to work on upgrading it to the latest this month.

[2018-07-13 10:47] nadeeshaan commented on #85
@akosyakov Thank you very much for the info. Will close the issue

[2018-07-13 10:47] #85 closed

[2018-07-16 18:53] #84 closed

[2018-07-23 01:17] tylerl0706 opened #86 "Issue hooking up a language server: Uncaught Exception: Error: Message header must separate key and value using :"
I'm trying to get this project working with the [PowerShell langauage server](https://github.com/powershell/powershelleditorservices) but I'm running into a strange exception when running PowerShell Editor Services as a separate process:

[code]

In case it's important, we do send a few additional custom messages that the typical LSP messages - but they're still communicating the same way via stdi

[2018-07-23 07:40] akosyakov commented on #86
@tylerl0706 Hi, it says that JSON-RPC headers are malformed. It should not be related to additional custom messages. Have you tried to debug `messageReader.js`, particularly `tryReadHeaders` method?

[2018-07-24 03:23] tylerl0706 commented on #86
@akosyakov yep this was totally my fault... I had some logging going to stdio and that was getting picked up by monaco-languageclient... but I've since hit a different issue. I'll open in a new issue since it's totally unrelated to this.

Thanks!

[2018-07-24 03:23] #86 closed

[2018-07-24 03:38] tylerl0706 opened #88 "monaco-languageclient sending messages with no method name"
Here's a couple screenshots for reference:

The left side is of course monaco, the right side is the PowerShell language server logs

After loading the page the first time:
![image](https://user-images.githubusercontent.com/2644648/43115154-79c69c70-8eb7-11e8-8911-3516b5596d89.png)

After I refresh the page:
![image](https://user-images.githubusercontent.com/2644648/43115179-91801a62-8eb7-11e8-82d

[2018-07-24 04:09] akosyakov commented on #88
@tylerl0706 Could you check raw messages whether they look proper? You can do it by inspecting ws frames in the dev tool for example.

[2018-07-24 04:40] tylerl0706 commented on #88
@akosyakov ![image](https://user-images.githubusercontent.com/2644648/43117251-ac1f90d8-8ec0-11e8-9b67-2fba70d8ba33.png)

I'm actually not seeing any ws frames - very strange

[2018-07-24 05:45] akosyakov commented on #88
You should select `WS`, not `All`. There will be only one ws connection if you select it you will be able to see all messages which are sent in both directions.

[2018-07-24 05:54] akosyakov commented on #88
Long story short: on `monaco-languageclient` side messages are written and parsed with [vscode-jsonrpc](https://www.npmjs.com/package/vscode-jsonrpc) which is battle-tested with a lot of applications. I would look for message parsing errors somewhere else.

[2018-07-25 09:44] akosyakov commented on #79
We need it to support the folding range provider: https://github.com/Microsoft/monaco-editor/blob/14f6229243233f456eb688c0dbdf505c61731b64/monaco.d.ts#L4132

I will look into it after getting rid of vscode-base-languageclient.

[2018-07-25 10:17] hifall opened #90 "Unable to build."
I am on macOS Sierra 10.12, Node v8.11.1, and NPM 5.6.0.

When I run `npm run build` in either of the node/browsers examples, I see these error messages:

[code]

The `npm install` command before this seems executed fine.

Possibly a dupe of #82. Suggestions?

[2018-07-26 02:48] tylerl0706 commented on #88
Annnnd this is because I had 2 services listening on same stdio stream. Totally my bad.

After I fixed that, I'm getting completions and everything :) thanks!

[2018-07-26 02:48] #88 closed

[2018-07-26 02:50] tylerl0706 commented on #90
Can you try running `npm install` in both the main folder and the example folder?

[2018-07-26 02:53] tylerl0706 commented on #82
Can you try running `npm install` in both the main folder and the example folder? Then run `npm run build` and `npm start` or `npm run start:ext`

That's what worked for me.

[2018-07-26 04:50] akosyakov commented on #88
@tylerl0706 cool, glad that you solved it :) please ⭐️ the repo 🙏

[2018-07-26 05:04] hifall commented on #90
As I said, `npm install` was fine.

[2018-07-26 05:07] hifall commented on #90
Thanks @tylerl0706. That works.

I am sorry for this false alarm.

[2018-07-26 05:08] #90 closed

[2018-07-26 06:05] tylerl0706 commented on #90
No worries! I ran into the same issue my first go :)

[2018-07-26 06:12] tylerl0706 opened #91 "Any way to send and listen for custom messages to the language server?"
In the VSCode extension for PowerShell using the PowerShell language server, you are able to select some code and hit "F8" to run the selection.

This sends a custom message called "execute" from VSCode to the LS.

I know this isn't a standard LSP message, but I'm wondering if there's a way to send custom messages using monaco-languageclient.

[2018-07-26 06:59] akosyakov commented on #91
Sure, look java extension for Theia sends a custom request: https://github.com/theia-ide/theia/blob/11fcd9baff55bea8b467469f7e9668691a13d2d5/packages/java/src/browser/java-commands.ts#L77-L82 Where `client` is an instance of `LanguageClient`.

[2018-07-26 07:01] akosyakov opened #92 "setup yarn workspaces"
It would be nice to eliminate duplicate packages and just run `yarn` to build all packages, e.g. https://github.com/TypeFox/monaco-languageclient/issues/90 and https://github.com/TypeFox/monaco-languageclient/issues/82 are caused by a fact that running `npm i` in the root does not build everything

It should be done after https://github.com/TypeFox/monaco-languageclient/pull/89 gets merged.

[2018-07-26 07:44] akosyakov commented on #82
@mariomurrent-softwaresolutions please reopen if running `npm install` in all packages did not help

[2018-07-26 07:44] #82 closed

[2018-07-28 02:57] tylerl0706 commented on #91
This looks great! I'll give it a go. 👍

[2018-07-28 12:41] shoorlyne commented on #41
I am also having trouble connecting Monaco language client to a "real" [C++ language server](https://github.com/theia-ide/theia-apps/issues/70) in this case) other than the simple JSON language server in the example.

I guess adding an end-to-end example of Monaco editor, Monaco language client, and a "real" language server like C++ or Java working together would greatly make things a lot easier f

[2018-07-28 12:50] shoorlyne commented on #41
@rcjsuen, have you been able to connect Monaco language client with any production language server other than JSON in the example?

[2018-07-28 13:08] rcjsuen commented on #41
@shoorlyne Those language servers are generally more complicated because they rely on having access to some (virtual?) files. This compounds the difficulty in a browser-based environment as you have to hook up the files yourself. This repository does not help you deal with that (as it's not really in the scope of the project). That being said I don't deny the usefulness of such an example, I'm jus

[2018-07-28 13:54] shoorlyne commented on #41
@rcjsuen, since this repo already contains examples connecting with toy-ish language servers, I don't think it would be too off track to include a more complex/practical example though ;)

BTW, thanks for your Dockerfile language server, looks interesting!

[2018-07-28 14:13] tylerl0706 commented on #91
Actually, I should also ask - is there a way to _listen_ for custom messages as well on the client side?

[2018-07-28 14:17] rcjsuen commented on #91
@tylerl0706 The language extension on the client side would have to listen for these arbitrary JSON-RPC messages, yes. How that is implemented would of course depend on the editor you are trying to integrate with and their LSP library/support.

[2018-07-28 14:42] shoorlyne commented on #41
Yup, I have tried that too. The UX is superb due to it being pure browse.

[2018-07-28 15:43] tylerl0706 commented on #91
Indeed - I've setup listening for messages in both a vscode extension (using vscode-languageclient) and a vim plugin using (NeoVim-languageclient).

I'd love to do the same with monaco-languageclient 😊

[2018-07-28 19:02] akosyakov commented on #91
@tylerl0706 monaco-languageclient is based on vscode-languageclient, API-wise they are alike, there are `sendRequest`, `sendNotificaftion` methods to send messages and `onRequest`, `onNotification` to listen for messages.

[2018-07-28 19:05] tylerl0706 commented on #91
@akosyakov you're awesome 👍 thanks for this!

[2018-07-28 19:05] #91 closed

[2018-07-29 13:57] shoorlyne opened #93 "How to enable syntax coloring in the browser example?"
Syntax coloring in the browser example looks inactive when the language is changed to C++, like this:

<img width="833" alt="screen shot 2018-07-29 at 9 54 43 pm" src="https://user-images.githubusercontent.com/20250340/43367083-102e8ff8-937a-11e8-867f-036fb30acc53.png">

I have tried to set the language on the model like this:

[code]

But it does not activate syntax coloring. This client has conn

[2018-07-29 15:33] shoorlyne commented on #93
I have tried all the suggestions in [Monaco Editor #375](https://github.com/Microsoft/monaco-editor/issues/375), but none of them seems to work.

[2018-07-29 16:18] shoorlyne opened #94 "One LSP server instance to support multiple monaco clients."
Currently if I start multiple Monaco clients pointing to a clangd LS service, multiple clangd instances will be spawned on the server, with each clangd instance handling one Monaco clients.

For the sake of resource efficiency, is it possible to have only one clangd instance to handle multiple Monaco clients? In my scenario, all clients share the same C++ libraries, and the only difference is the

[2018-07-29 18:16] akosyakov commented on #93
`monaco-languageclient` depends only on monaco core package without dependencies to monaco languages: https://github.com/Microsoft/monaco-languages. You should add it and load in your application to enable basic languages.

[2018-07-29 18:20] akosyakov commented on #94
Do you mean you start multiple language clients even for one page? You don't need to do it. `MonacoWorkspace` can handle several opened filed and one instance of one language client is enough.

[2018-07-30 02:59] shoorlyne commented on #94
@akosyakov, thanks for your response :)

Let me provide more info about the context:

Our product allows multiple users (potentially 100+) to edit C++ code at the same time, while providing them with code intelligence via LSP. The content in each user's file is different. All the users share exactly the same C++ environment, including the compiler/linker, boost library, etc. From the language serv

[2018-07-30 05:17] akosyakov commented on #94
Sorry, I misunderstood you, in this case, `MonacoWorkpace` won't be of any help since it is a client-side only to support multiple files for the same user.

It is a generic question about language servers, you can ask here as well: https://github.com/Microsoft/language-server-protocol. Maybe someone one did something like that.

I could imagine that you can try to build a proxy LS which gets start

[2018-07-30 12:05] shoorlyne commented on #93
Now I have added monaco-languages module dependency in package.json like this:

[code]

However, I am still not seeing syntax coloring. What else can I try?

[2018-07-31 00:39] hifall opened #95 "How to support multiple language servers?"
I'd like to implement a service where multiple language servers are supported.

On the backend, I have 2 language servers, Python and Java, deployed on one machine; on the frontend, I have a page that has a language selector which allows the user to select between Python and Java.

The user uses the service like this: he navigates to the page, selects the language, then edits a code snippet in tha

[2018-07-31 02:02] #95 closed

[2018-07-31 03:37] Louis-7 opened #96 "There is an error if open file after monaco connected to the language-server"
If I open a file (create a modal) in monaco after it connected to a language-server, there is a error `code
:
-32603
message
:
"Request textDocument/codeAction failed with message: Cannot read property 'version' of undefined"`.

Is this a bug of monaco-languageclient?

[2018-07-31 06:33] akosyakov commented on #96
Hi @Louis-7, which LS do you use? It seems like an exception happened on the server side. On your place, I would investigate messages sent from a client to a server and if a request `textDocument/codeAction` looks good then it is a server issue. You can either investigate by looking at WS frames in your dev tools or enable tracing:
[code]

[2018-07-31 06:50] #65 closed

[2018-07-31 07:06] akosyakov commented on #24
We had to keep this issue due to https://github.com/TypeFox/monaco-languageclient/pull/89#issuecomment-408805291.

[2018-07-31 08:26] Louis-7 commented on #96
Hi @akosyakov , I forgot to mention, the LS I'm using is the json language server located in example folder [here](https://github.com/TypeFox/monaco-languageclient/tree/master/example).

I believe this is a server side issue, the content sent by client is correct, it's already tested. Any idea about why version number is missing? Seems version number is not defined by client but server. If LS is r

[2018-07-31 09:30] Louis-7 commented on #96
I did some more test. Error message is showing because I updated the monaco model language with [setModelLanguage](https://microsoft.github.io/monaco-editor/api/modules/monaco.editor.html#setmodellanguage).

[2018-07-31 17:44] zewa666 opened #98 "TypeScript type only imports"
Starting with TS 2.9.x we can do side-effect free imports. Not only does this reduce bundle sizes without the need for tree-shaking, but also guards from unwanted side-effects.

Such an example would be the [vscode import in vscode-api.ts](https://github.com/TypeFox/monaco-languageclient/blob/master/src/vscode-api.ts#L6)

[2018-07-31 20:29] akosyakov commented on #98
I don't understand how `vscode` can be bundled and cause side-effects. It is just a declaration file which gets completely erased during compilation.

[2018-08-01 06:15] zewa666 commented on #98
Yep, sorry my bad I dunno how I thought I'd have seen a transpiled import for vscode in the resulting lib folder.

[2018-08-01 06:15] #98 closed

[2018-08-01 08:12] shoorlyne opened #99 "Request textDocument/codeLens failed with jdt.ls."
When I connect monaco language client to an Eclipse jdt.ls server, I got a "Request textDocument/codeLens failed" error.

First, I initialized the language client like this:

[code]

On the server, I have a `my-app` project generated by Maven in /sbin/.

After I fire up the client, I see the log in the console:

[code]

From Chrome's Network ws traffic frame, I can see server response to the codeL

[2018-08-01 08:46] akosyakov commented on #99
Hi @shoorlyne the error is from Java LS, you will have better luck asking it there.

From `java.lang.IllegalArgumentException: URI has an authority component` looks like some URI is bogus. Maybe: `rootUri: '/sbin/maven/my-app/src`. A URI is expected no a path.

[2018-08-01 08:58] shoorlyne commented on #99
Thanks @akosyakov for your suggestions. Will try it later.

[2018-08-01 09:08] #99 closed

[2018-08-02 05:40] gatesn commented on #41
I have an example up here of hosting a stand-alone language server over a web socket. You then just need to hook up the Monaco-languageclient examples to point at it.

https://github.com/palantir/python-jsonrpc-server/blob/develop/examples/langserver_ext.py

[2018-08-02 08:58] jvalkeal commented on #2
@akosyakov I just hit this similar issue with `pipeSupport.js` calling requires for things what doesn't exist in a browsers. Angular 6 just removed these empty definitions https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814 and while you can do a nasty hack https://github.com/angular/angular-cli/issues/1548#issuecomment-386871992 to get those back, It'd be a good to find a lo

[2018-08-02 09:42] hifall opened #102 "Request textDocument/hover not sent for C++."
When I hover over a C++ construct (namespace, class, etc.), I expect a popover to appear. However, none does.

Here is the response I got from the server during initialization:

`{"id":0,"jsonrpc":"2.0","result":{"capabilities":{"codeActionProvider":true,"completionProvider":{"resolveProvider":false,"triggerCharacters":[".",">",":"]},"definitionProvider":true,"documentFormattingProvider":true,"doc

[2018-08-02 10:54] akosyakov commented on #102
It looks like C++ LS does not support hover. It should return `hoverProvider: true` if it does.

[2018-08-02 11:12] hifall commented on #102
Thanks @akosyakov.

It seems they added textDocument/hover recently: [[clangd] Code hover for Clangd](https://reviews.llvm.org/D35894). Maybe it's available in the next version of clangd.

[2018-08-02 12:01] #79 closed

[2018-08-02 12:12] #102 closed

[2018-08-03 05:47] akosyakov commented on #2
@jvalkeal pipe and socket support are reexported by vscode-jsonrpc from `main.js`, which is used by `monaco-languageclient`: https://github.com/Microsoft/vscode-languageserver-node/blob/5f9c993ff38f5c369949aeb359b3e9b178172dbc/jsonrpc/src/main.ts#L40-L41
I don't see a way to avoid importing it. You can file an issue for `vscode-jsonrpc` here: https://github.com/Microsoft/vscode-languageserver-node

[2018-08-03 06:30] #93 closed

[2018-08-03 06:30] #94 closed

[2018-08-03 15:39] hifall commented on #40
@gmichaud, I am interested in the Monaco/OmniSharp C# language server integration. Could you please share more of your experience? What issues you ran into made you give up? Should one attempt for this again now?

[2018-08-03 16:29] gmichaud commented on #40
@hifall we never got much further than prototype stage. I definitely abandonned the idea of using LSP and used the native OmniSharp protocol instead... but that was many months ago, might be doable today!

[2018-08-04 20:50] jvalkeal commented on #2
@akosyakov I feel that it'd be better if you'd open a ticket(as you know exactly what you need to ask) as you control this project and use their dependencies. While I kinda understand where the problem is coming from, I feel that I'd be a broken phone line between Typefox and MS making this integration to work better.

[2018-08-07 07:46] #3 closed

[2018-08-07 07:46] #27 closed

[2018-08-07 07:46] #32 closed

[2018-08-07 07:46] #4 closed

[2018-08-07 07:46] #52 closed

[2018-08-07 07:46] #67 closed

[2018-08-07 07:46] #75 closed

[2018-08-07 07:46] #80 closed

[2018-08-08 12:16] akosyakov opened #104 "Organize imports support"
Depends on:
- https://github.com/Microsoft/vscode-languageserver-node/issues/388
- https://github.com/Microsoft/monaco-editor/issues/995

[2018-08-12 17:46] akosyakov opened #105 "Upgrade to Monaco 0.14.x"
Apparently, it was released 2 days ago: https://www.npmjs.com/package/monaco-editor/v/0.14.2

[2018-08-15 11:14] akosyakov commented on #105
sure, no hurry :)

[2018-08-15 11:29] akosyakov opened #106 "asFoldingRanges converstion should handle nullable result"
<img width="1277" alt="screen shot 2018-08-15 at 13 28 54" src="https://user-images.githubusercontent.com/3082655/44146284-3b87664e-a08f-11e8-94d7-67ab887e8731.png">

[2018-08-15 14:07] #81 closed

[2018-08-16 09:17] Twinside commented on #105
Ah missed this ticket, there is a pull request for the version 0.14.2

[2018-08-18 07:41] akosyakov opened #108 "Consider to add vscode as depenedency"
See: https://github.com/theia-ide/theia/issues/2614

[2018-08-21 06:49] akosyakov opened #109 "handle `Connection got disposed` errors"
If a connection got lost, for example on ws reconnectoin, `vscode-jsonrpc` rejects all pending requests with `Connection got disposed` errors, since we don't handle them, it pollutes the console immensely.

We should catch such errors where it is possible and handle them, for example by returning empty results.

[2018-08-24 02:49] hifall opened #110 "How do I suppress certain LSP features?"
I have a full-featured language server, with completion, hover, diagnostics, etc., enabled. For some reason, I'd like to disable the diagnostics feature when connecting to a language server, using Monaco language client.

How can I do this?

[2018-08-24 07:34] akosyakov commented on #110
The language client allows registering your custom services by analogy with https://github.com/TypeFox/monaco-languageclient/blob/master/src/monaco-services.ts.
Particularly to disable diagnostics, you can subclass `MonacoLanguages` and remove `createDiagnosticCollection` method, i.e. by assigning it to `undefined` in the constructor.

[2018-08-24 14:53] hifall commented on #110
Thanks, @akosyakov! Will try that later.

[2018-08-29 13:23] akosyakov opened #111 "configurations are not passed properly to language servers"
workspace configuration adapter should implement `toJSON` method

[2018-08-30 04:32] #110 closed

[2018-08-30 07:48] #111 closed

[2018-08-30 07:52] #106 closed

[2018-08-30 08:07] akosyakov commented on #109
cannot reproduce it with an example, seems to happen only with Theia

[2018-08-30 08:07] #109 closed

[2018-09-02 07:35] vibhor1997a opened #113 "'cp' is not recognized as an internal or external command when building example"
I am using windows and tried to build the example and as `cp` is not a command in windows the build failed. `copyfiles` is a better cross-platform solution for copying files. Please add https://www.npmjs.com/package/copyfiles as a dependency so it becomes cross-platform. As a workaround I can replace `cp` with `copy` to make it work.

[2018-09-03 06:51] akosyakov commented on #105
fixed with https://github.com/TypeFox/monaco-languageclient/pull/107

[2018-09-03 06:51] #105 closed

[2018-09-05 09:58] hifall opened #115 "Crash on signature."
Monaco-editor version: 0.14.3
Monaco-language client: 0.8.0
Browser: Chrome 67.0.3396.99
OS: macOS 10.12

It crashes when trying to invoke a function signature in certain scenarios. See [Monaco Editor issue 1045](https://github.com/Microsoft/monaco-editor/issues/1045) for details.

[2018-09-05 11:10] rcjsuen commented on #115
1. Can you see and confirm in the debugger that the code added in #112 is being run? Is it correctly adding a zero-length array to the JavaScript object?
1. Do you have a reproducible test case that we can `git clone` to check the problem?

[2018-09-05 11:27] akosyakov opened #116 "Migrate to latest vscode-languageclient"
There were some fixes related to `DocumentSymbol`. We need to rebase vscode-base-languageclient first.

[2018-09-06 06:57] akosyakov opened #117 "Allow to use alternative monaco-editor-core packages"
The last release of Monaco broke Theia, since they removed unused code which is used by Theia. For Theia we are going to publish an alternative package to monaco-editor-core with needed code. Here, we are going to remove runtime dependency and the client will be responsible to provide Monaco.

[2018-09-06 09:09] lugreen opened #118 "npm install fail"
Hi,
When i  run "browser" sample, i encounter this problem :
-----------------------------------------------------------------------------------------------------------------
Microsoft Windows [Version 10.0.17134.228]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>cd G:\JDYUN\monaco-languageclient\example

C:\WINDOWS\system32>g:

G:\JDYUN\monaco-languageclient\example>np

[2018-09-06 09:56] #117 closed

[2018-09-06 11:58] akosyakov commented on #118
Did you run `npm install` in the root first?

[2018-09-07 06:47] lugreen commented on #118
Hi,
No,I run 'npm install' in 'example'  directory first.
I also  run in 'monaco-languageclient ' directory  then run in 'example' directory, the same problem.

[2018-09-07 06:58] akosyakov commented on #118
`example` is using local `monaco-languageclient`, so you have to build it first by running `npm install` in the root

[2018-09-07 07:14] lugreen commented on #118
Hi,
'G:\JDYUN\monaco-languageclient '  is monaco-languageclient 's  root directory.
Did you means  that :
First i run 'npm install ' in G:\JDYUN\monaco-languageclient,
then run  'npm install ' in  G:\JDYUN\monaco-languageclien\example.
Is right?

[2018-09-07 10:26] rcjsuen commented on #118
@lugreen Yes, please do that.

[2018-09-07 10:41] hifall commented on #115
Were you able to reproduce the original issue WITHOUT your fix?

[2018-09-07 11:00] rcjsuen commented on #115
@hifall Please see attached.

![image](https://user-images.githubusercontent.com/15629116/45215536-bd2eb600-b26b-11e8-9c82-0ba08503f470.png)

[2018-09-10 03:35] lugreen commented on #118
@rcjsuen  @akosyakov
Hi,
I have tried that.,but the same problem.
Reference https://github.com/mapbox/node-sqlite3/issues/900#issuecomment-359225381, i delete the package-lock.json,now i can install successful.
Anyway, I want to thank you.

[2018-09-10 03:41] lugreen opened #120 "'cp' is not recognized as an internal or external command,"
Hi,
I think that the scripts in package.json isn't  suitable for windows.

![image](https://user-images.githubusercontent.com/1725996/45275215-f9714900-b4ed-11e8-9b1b-baa2a3f09d8e.png)

[2018-09-10 10:48] rcjsuen commented on #120
Hi, @lugreen. Thank you for raising this issue.

It seems to be the same problem as #113 so I am closing this as a duplicate.

[2018-09-10 10:48] #120 closed

[2018-09-11 04:16] #118 closed

[2018-09-17 06:50] hifall commented on #115
Now I have confirmed that your fix works. It doesn't crash any more in that situation.

It's cool!

[2018-09-17 06:50] #115 closed

[2018-09-20 11:52] nikeee commented on #117
If I understand this right, shouldn't this be a  [`peerDependency`](https://nodejs.org/en/blog/npm/peer-dependencies/)?

[2018-09-20 15:33] akosyakov commented on #117
@nikeee hi, I've tried it, but they have 2 drawbacks:
- they don't get installed, so you cannot use their APIs - we obviously need it to use APIs in `monaco-languageclient`
- they are required to be installed by a client -  we don't want it, we want to install our packages providing APIs similar to `monaco-editor-core`, e.g. `@typefox/moanco-editor-core`

[2018-09-23 10:01] paulyoung commented on #118
I'm seeing the same thing on OS X. If I remove the `package-lock.json` first then it works.

[2018-09-26 12:59] hifall opened #121 "Triggering DidSaveTextDocument."
I have a scenario where the language server's [(R#27)](https://github.com/REditorSupport/languageserver/issues/27) completion on custom-defined function doesn't work until the file is saved. It sounds like I need to send some request like DidSaveTextDocument from the language client to satisfy this requirement.

How can I send a DidSaveTextDocument request from monaco language client?

Thanks!

[2018-10-01 04:34] akosyakov commented on #121
@hifall Hi, [default Monaco workspace](https://github.com/TypeFox/monaco-languageclient/blob/master/src/monaco-workspace.ts) does not support saving. You need to extend it and implement `onDidSaveTextDocument` to fire save events: https://github.com/TypeFox/monaco-languageclient/blob/facffc14c01b401ece95f9c2937563892c44d6d2/src/services.ts#L230

[2018-10-03 13:24] gatesn opened #122 "Only subscribe to events for documents within the root URI"
Currently the MonacoWorkspace subscribes to events for all Monaco models. I believe it should subscribe to events only for models that sit under the root URI.

e.g.
[code]

https://github.com/TypeFox/monaco-languageclient/blob/facffc14c01b401ece95f9c2937563892c44d6d2/src/monaco-workspace.ts#L41

[2018-10-04 05:38] akosyakov commented on #122
Does LSP prohibit to open a file outside of a workspace?

I don't know that is your use case but in Theia (and VS Code) it is fine to open any file from the fs while working in some workspace and it should have a language support.

[2018-10-04 06:48] gatesn commented on #122
That’s reasonable. My use case is that we use Monaco for more than just the code editor on a single page. For instance, a REPL.

Perhaps a more reasonable thing is to ensure the same URI scheme?

[2018-10-05 06:00] akosyakov commented on #122
@gatesn You can subclass `MonacoWorkspace` and customize to your use cases. I don't think LSP enforce any constraints on URIs. In Theia, we have our own implementation as well to separate editors' models from inline editors' models, as a REPL.

[2018-10-05 13:45] gatesn commented on #122
Yup, that’s what we do now. Was wondering if it was worth upstreaming the change. But seems reasonable not to given the variety of use cases.

[2018-10-05 13:45] #122 closed

[2018-10-06 16:46] #96 closed

[2018-10-31 05:56] Aaaaash opened #123 "Suggest: Too many logs"
![图片](https://dn-coding-net-production-pp.codehub.cn/c9b293a6-a8e5-40f3-b55d-a0e41cda837c.png)

How to disable these outputs?

Or we can add an option to support closing the log output.

[2018-10-31 11:22] rcjsuen commented on #123
Perhaps you can try looking at [`console-window.ts`](https://github.com/TypeFox/monaco-languageclient/blob/facffc14c01b401ece95f9c2937563892c44d6d2/src/console-window.ts).

[2018-11-01 01:29] Aaaaash commented on #123
Thank for you reply, I have created a pull request: [add logEnabled option for ConsoleWindow.](https://github.com/TypeFox/monaco-languageclient/pull/124)

[2018-11-05 02:03] Aaaaash commented on #123
Thank you very much!

[2018-11-05 02:03] #123 closed

[2018-11-07 12:34] sanketbajoria opened #125 "Integrate groovy language server with monaco-languageclient"
Hi,

First of all, Thanks for this superb repository.

I am trying to integrate the groovy language server with monaco-languageclient.  I have made multiple changes
` monaco.languages.register({
    id: 'groovy',
    extensions: ['.groovy'],
    aliases: ['GROOVY', 'groovy'],
    mimetypes: ['application/java']
});`

`
monaco.editor.createModel(value, 'groovy', monaco.Uri.parse('inmemory:/model.gr

[2018-11-07 12:40] rcjsuen commented on #125
@sanketbajoria Please share your code and error message from your second experiment (the `file` path and not the `inmemory` one).

[2018-11-07 14:02] sanketbajoria commented on #125
@rcjsuen
For file related changes
` monaco.editor.createModel(value, 'groovy', monaco.Uri.file('D:/git/monaco-languageclient/example/var/dummy.groovy')`

`MonacoServices.install(editor, {rootUri: "file:///D:/git/monaco-languageclient/example/var"});`

I got below error

`Caused by: java.lang.IllegalArgumentException: 'other' has different root
        at sun.nio.fs.WindowsPath.relativize(WindowsPa

[2018-11-07 18:46] rcjsuen commented on #125
@sanketbajoria Perhaps you can try using the deprecated `rootPath` URI instead.

It's too bad that the [palantir/language-servers](https://github.com/palantir/language-servers/) repository is now archived so I'm not sure how much assistance you're going to be able to get here.

[2018-11-07 21:36] sanketbajoria commented on #125
@rcjsuen
I have tried that too.. but no luck

[2018-11-16 03:49] hifall opened #126 "Disproportionately large font in hover popover."
I am using Monaco Language Client to connect to [Swift LS](https://github.com/apple/sourcekit-lsp). When testing the hover feature, I am seeing a larger-than-normal header in the hover popover window. I wonder if this is a Monaco Language Client issue or a Swift LS issue?

I am unable to to get the screenshot, as when I try to capture it using Shift+Cmd+4, the popover fades away.

Thanks!

[2018-11-16 12:51] rcjsuen commented on #126
@hifall Have you tested how things look in the [Monaco Editor Playground](https://microsoft.github.io/monaco-editor/playground.html)? Nothing is done here that changes how Monaco draws hovers...

[2018-11-16 13:49] hifall commented on #126
Things are fine in the playground -- actually this happens with the Swift LS only, others LS'es are fine.

[2018-11-16 14:42] rcjsuen commented on #126
@hifall You should see what's going on in the `textDocument/hover` requests then. If you can't get a screenshot, maybe you can try taking some pictures with your smartphone?

You should also try some other browsers to see if the same behaviour is exhibited elsewhere.

[2018-11-18 10:59] #113 closed

[2018-11-18 10:59] #2 closed

[2018-11-18 10:59] #77 closed

[2018-11-18 10:59] #92 closed

[2018-11-19 10:14] svenefftinge opened #127 "Starting a Gitpod workspace results in failed build."
[code]

[2018-11-19 12:33] akosyakov commented on #127
With which version of npm?

[2018-11-20 07:56] foreversue commented on #127
the version of npm is 6.4.1

[2018-11-21 06:31] akosyakov commented on #127
We can either pin npm version for travis and gitpod or wait for next npm version.

[2018-11-23 14:52] hifall commented on #126
Here is the screenshot :)

<img width="575" alt="screen shot 2018-11-23 at 10 43 48 pm" src="https://user-images.githubusercontent.com/5734293/48949230-4653b000-ef72-11e8-81dc-a4d63db9e919.png">

[2018-11-26 13:33] akosyakov commented on #127
fixed by https://github.com/TypeFox/monaco-languageclient/pull/128

[2018-11-26 13:33] #127 closed

[2018-11-27 07:04] wufeng87 opened #129 "browser example install error."
[code]

[2018-11-29 09:53] richardmward opened #130 "Question: Workspace folders using MonacoWorkspace or MonacoLanguageClient.clientOptions"
Hi,

I wonder if anyone could explain the difference between setting the workspace folders for each of these two locations:

- `MonacoWorkspace._rootUri`
- `MonacoLanguageClient.clientOptions.workspaceFolder.uri`

The main thing I notice so far is that the former is sent in the initialize request, and the later appears to be ignored.

Should it be possible to use the later to start up multiple cli

[2018-11-30 14:31] mariomurrent-softwaresolutions commented on #129
Same for me - npm install in browser does not work as well as npm install in all folders + root

[2018-11-30 14:37] mariomurrent-softwaresolutions commented on #76
@rcjsuen Do you have a working example for connecting the language server to ng-monaco? It does not work for me :(

[2018-11-30 20:40] rcjsuen commented on #76
@mariomurrent-softwaresolutions I think you were looking for @Louis-7?

[2018-12-01 06:31] mariomurrent-softwaresolutions commented on #76
Well yes, thank you.

[2018-12-02 20:33] nikeee commented on #117
Two drawbacks when using a devDependency:
- You are forced to use the specified version. This may conflict with other libraries used like `react-monaco-editor`.
- It only gets installed if you develop this package. When using this library no devDependency is installed.
See: https://stackoverflow.com/a/22004559

When using a peerDependency, you also get a warning when the required package is not in

[2018-12-03 01:04] Louis-7 commented on #76
@mariomurrent-softwaresolutions check this out.

https://github.com/Louis-7/angular-monaco-languageclient

[2018-12-07 05:08] #121 closed

[2018-12-13 10:48] cdietrich commented on #118
if we have all to delete the package-lock.json why is there checked in in the current state at all

[2018-12-19 13:01] benbenqiang opened #131 "Upgrade to latest Monaco"
I successfully ran the demo（0.9.0）, but when I migrated to my project, I used monaco-editor （0.15.1）instread of monaco-editor-core and got the following error:

Uncaught TypeError: Cannot read property 'TriggerCharacter' of undefined
    at MonacoToProtocolConverter.webpackJsonp../node_modules/monaco-languageclient/lib/monaco-converter.js.MonacoToProtocolConverter.asTriggerKind (monaco-converter.j

[2019-01-02 12:47] akosyakov commented on #131
The latest compatible version is 0.14.x. Please check the change log.

[2019-01-02 12:47] akosyakov commented on #131
PRs are welcomed to upgrade to Monaco 0.15.x.

[2019-01-03 02:52] nikeee commented on #131
I'd like to take a look at this.

[2019-01-04 02:47] nikeee commented on #131
I started working on this issue here: https://github.com/TypeFox/monaco-languageclient/compare/master...nikeee:monaco-upgrade

However, I think there are some breaking changes. For example, the `textEdit` property of `CompletionItem` was dropped. Instead, `insertText` and `insertTextRules` should be used. Also, `SnippetString` was removed.

[2019-01-04 11:34] amarnath-mishra opened #133 "Not getting suggestions for functions of a new header file while using LSP of cpp."
I have used language server of https://github.com/MaskRay/ccls with monaco-languageclient, and it is working perfectly fine except it is _**not showing results for new header files (for e.g. it should show strcpy(...), if we include #include <string.h>) included at runtime**_ (Although it shows if that header file was already included in rootUri before starting the monaco-languageclient).I have ch

[2019-01-12 12:33] benbenqiang commented on #131
@akosyakov  Thanks

[2019-01-14 02:57] #125 closed

[2019-01-15 02:13] eprst commented on #129
getting a different error in `example` and `examples/browser`:

[code]

[2019-01-18 18:14] lcnandre opened #135 "How to integrate with Angular?"
Hello.

I'm currently trying to put together `monaco-languageclient` along with `vscode-ws-jsonrpc` on an Angular 6.x project using `ngx-monaco-editor` component but without much luck.

Here's how my code looks like:

[code]

And here's a list of the major erros I'm getting:

[code]

I'm stuck with this for a week now and would apreciate any kind of help.

[2019-01-21 16:38] nikeee commented on #131
I think this is more work than I initially thought. It seems that they introduced `strictNullChecks` on `monaco.d.ts`. If someone wants to pick this up, feel free to take my branch. I'm currently lacking the time for this.

[2019-01-26 09:39] hifall commented on #109
I am seeing this issue consistently. Often times it generates hundreds of `Connection got disposed` errors in the console, which I am trying to fix.

Did you make any progress on this one?

[2019-01-29 16:52] #126 closed

[2019-01-29 18:44] srcherukuri commented on #129
getting the same error reported by eprst above.

[2019-01-31 20:22] MichaelJohnCoan commented on #129
Ditto.  Same errors as eprst.

[2019-01-31 20:42] MichaelJohnCoan commented on #129
All:
I found a resolved issue that addressed the eprst problem: https://github.com/TypeFox/monaco-languageclient/issues/118
Apparently, the examples will build if you delete the package-lock.json files first (in the appropriate folders).  This fixed the problem that I had that was expressed by eprst.  I'm not sure if it will correct wufeng87's original issue however.

[2019-02-04 13:06] #130 closed

[2019-03-07 10:56] johnwiseheart commented on #24
While we wait, is it possible to release a new version of `vscode-base-languageclient`? Merged some changes to their repo which I'd like to use. Not sure how/where the differences are, so if I need to make the changes elsewhere let me know and I can do it.

[2019-03-12 12:59] #133 closed

[2019-03-26 07:06] lilliesAndRoses commented on #57
How do I specify the location of the language server in the browser example?

[2019-04-03 06:27] xihaoxiaohao opened #138 "Example Integrate with React"
Is there any example integrate with [react-monaco-editor](https://github.com/react-monaco-editor/react-monaco-editor)?

I spent a lot of time and couldn't find any example online using React with the language server. I looked at the `example/client` file, but it's written in typescript, and there's some different with js. Would be really appreciate it if someone can give an example 😀

[2019-04-08 17:31] xihaoxiaohao opened #139 "Connected to jdtls but no auto competition"
I was able to connect to the java language server which I use is the eclipse's jdtls. On the `json-server-launcher.ts` file, I changed the `serverConnection` like below:
[code]

My `jdtls` script:

[code]

On the `client.ts`:

I set the file uri and root uri like below:

[code]

[code]

I can see the language server is initialized and ready, but why I don't get any auto completion?

![Screen Shot

[2019-04-08 21:37] #129 closed

[2019-04-09 05:55] xihaoxiaohao commented on #133
Hi @amarnath-mishra I face the same issue using ccls, did you solve it?  and do you mind sharing how you get the java language server working? I have my configuration in #139
Thanks.

[2019-04-10 09:49] funcsatish opened #140 "Error when using monaco-editor"
[code]

source : https://github.com/funcsatish/react-monaco-languageclient-demo

[2019-04-10 10:31] #140 closed

[2019-04-15 09:26] gatesn opened #141 "Catch up with LSP changes"
https://microsoft.github.io/language-server-protocol/specification#version_3_14_0

[2019-04-18 14:54] spoenemann opened #142 "Example pulls two versions of vscode-jsonrpc"
The example seems to use a wrong version of `vscode-languageserver`, which leads to two versions of `vscode-jsonrpc`:
[code]

A consequence of this is that cancellation responses are not detected, but logged as errors:

[code]

This problem is also present in Theia. All users of this package should check their dependencies.

[2019-04-18 15:04] spoenemann commented on #142
`vscode-base-languageclient` version `4.4.0` depends on `vscode-languageserver-protocol` version `^3.10.0`. This includes version `3.13.0`, which depends on `vscode-jsonrpc` with version `^4.0.0`.

There has been a major version update in `vscode-languageserver-protocol` 👎

[2019-04-18 15:27] akosyakov commented on #142
So the only way is to pin `vscode-languageserver-protocol` for `vscode-base-languageclient`?

[2019-04-18 17:45] spoenemann commented on #142
Can we update `vscode-jsonrpc` to 4.0.0?

[2019-04-21 05:29] satishbabariya opened #143 "error: no input files"
Is there anything missing in Monaco editor configuration?
[code]

code : https://github.com/satishbabariya/swift-monaco-example

[2019-04-21 06:26] #143 closed

[2019-04-29 16:03] haridnr commented on #133
Hi @amarnath-mishra / @xihaoxiaohao ,

Please can you share your setup to connect to an external language server like ccls or cquery for Java or c++. I am trying to get this to work with ccls but I am unable to start the language server correctly.

I keep getting an error related to "missing rootUri".

Thanks,
Hari

[2019-05-03 06:47] amarnath-mishra commented on #94
@shoorlyne were you manage to do this, I mean the memory issue on multiple clients using same resource, please reply ASAP, as I am also facing the same issue.

[2019-05-09 20:08] nikeee commented on #131
Meanwhile, Version 0.17.0 is out for some time now. Any chance that we will get an update? Or is this project dead? If so, is there any replacement?

[2019-05-13 10:48] amarnath-mishra commented on #40
I tried this and got success also, but there is one problem there that, after initialisation of Language server, the language server is not is not able to pick the contents which I have already given in a file in my rootUri, And it is considering it as empty and giving results for textDocument/completion as should give for any empty file, as one can see in this attached screenshot of my machine.

[2019-05-13 11:29] amarnath-mishra commented on #133
Hi @xihaoxiaohao ,I have tried on a new build of ccls, and this issue was resolve in it.

[2019-05-14 05:42] Aayush04 opened #145 "Is there any way to send the complete editor text on didChange?"
Is there any way to send the complete editor text on didChange? As I integrated with [omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn) for the csharp language. But it seems like the server is not properly handling the changes on didChange message. It is not giving proper completion results but when I am sending the completer editor text it is working fine.

[2019-05-15 13:28] spoenemann commented on #142
Clients using Yarn can solve this by adding

[code]

but a better solution would be to update this package to the latest version of vscode.

[2019-05-17 07:36] Aayush04 opened #146 "Cannot read property 'language' of null"
Getting console error when the language server returns null content on hover.

[code]

Request:
```{"jsonrpc":"2.0","id":1,"method":"textDocument/hover","params":{"textDocument":{"uri":"file:///root/lspData/workspace/csharp/e79f527e-7402-4bc3-a2c2-b0a552f5d45e/UserMainCode.cs"},"position":{"line":14,"character":18}}}```

Response:
```{"protocolVersion":"2.0","id":1,"result":{"contents":[null,null]

[2019-05-17 11:25] rcjsuen commented on #146
What language server are you using, @Aayush04? The response looks invalid.

[2019-05-17 14:32] Aayush04 commented on #146
I am using csharp language server from [omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn)

[2019-05-17 16:20] lepantella opened #147 "Angular 7, ngx-monaco-editor and monaco-languageclient won't work."
I made a fresh angular 7 project and followed the steps on https://github.com/atularen/ngx-monaco-editor. I added monaco-languageclient version 0.9.0. Immidiately after `MonacoServices.install(editor);` I get the following error:

[code]

### Below is my angular app.component.ts code

[code]

### And app.component.html

[code]

I've been trying to sort this out for days now, but every time I bump

[2019-05-18 11:18] satishbabariya opened #148 "Can we use monaco-languageclient in Electron without using websockets, probably using ipc"

[2019-05-19 13:35] gins3000 commented on #148
@satishbabariya A long time ago, I have made an example how to do this here https://github.com/gins3000/monaco-electron-ipc-example

It is definitely outdated, but maybe it helps. If there are difficulties getting my example to work with the newest versions of the language-client and monaco, I would appreciate an Issue so I can address it (or even better, a pull request ;) )

[2019-05-19 16:06] satishbabariya commented on #148
@gins3000 thanks, I'll look into it.

[2019-05-20 06:54] rcjsuen commented on #146
@Aayush04 Can you reproduce this consistently? Can you reproduce this with a simple C# file and share it here?

[2019-05-23 10:22] lepantella opened #149 "monaco-languageclient, angular 7 without webpack"
The following error happens when I try to implement monaco-languageclient version 0.6.3 in angular 7 without using webpack. If I use webpack it's fine. Is there any other way around webpack?
[code]

### This is my code

[code]

The error triggers when I uncomment `createLanguageClient()` function.

[2019-05-25 06:44] Naaman-Saif commented on #139
Did you find a solution to this?

[2019-05-27 21:52] israelvaldez commented on #146
I also get the issue; I only get the problem when hovering over strings, ints, longs, decimals.
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace ConsoleApp1
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("hovering over here fails");
        }
    }
}`

[2019-05-28 16:19] asual commented on #131
I managed to update monaco and various other vscode related dependencies to their latest versions:
https://github.com/asual/monaco-languageclient/commit/638e3a0a62f23298d851add4972b59420c6ad7f8

I'll be glad to create a PR but this one needs to be properly addressed first:
https://github.com/TypeFox/vscode-ws-jsonrpc/pull/9

/cc @akosyakov  @svenefftinge

[2019-05-28 20:36] rcjsuen commented on #146
@israelvaldez I imagine this is an issue with the language server. Unfortunately, I can't really reproduce the problem as I can't even build the language server due to OmniSharp/omnisharp-roslyn#1500. :(

[2019-05-29 07:23] akosyakov commented on #131
We have plans to upgrade it latest by end of July.

[2019-05-29 07:23] akosyakov commented on #141
We have plans to upgrade it latest by end of July.

[2019-05-29 07:25] akosyakov commented on #24
@johnwiseheart We do it soon, latest by end of July.

Generally i'm thinking to refactor and move language-client to backend (node) and forward monaco APIs between frontend-backend. It will allow to use `vscode-languageclient` directly. It is not something which will happen soon, if it will at all.

[2019-06-04 08:10] ph-fuergy opened #154 "Cannot read property 'map' of undefined in ProtocolToMonacoConverter.asCodeActions"
When try to run version 0.9.0 with different language server (https://github.com/sumneko/lua-language-server), in browser console is error because ProtocolToMonacoConverter.asCodeActions parameter **actions** has undefined value.

[2019-06-04 11:42] rcjsuen commented on #154
@ph-fuergy Can you share the full stack trace?

[2019-06-05 04:39] ph-fuergy commented on #154
[code]

Stack trace is before error occurs. In method ProtocolToMonacoConverter.asCodeActions has parameter **actions** undefined value. I think that problem is because attribute result of response to Code Action Request (https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction) is null.

[2019-06-06 15:53] dhruvppatel opened #155 "How to configure default/additional code?"
Big Thanks to TypeFox, Palantir and Microsoft team for building an ecosystem around Language Server Protocol for Monaco Editor.

We are building a cloud-based interactive learning platform primarily focused on Data Science Technologies. We are using Monaco Editor in our web application for online coding environment.

Currently, we are trying to integrate autocomplete capabilities in Monaco Editor

[2019-06-07 13:29] rcjsuen commented on #155
@dhruvppatel Language servers are initialized with a `rootUri` (or the deprecated `rootPath`). It sounds to me like you want to initialize the Python language server with a `rootUri` that includes the student's other Python files...?

[2019-06-07 13:46] dhruvppatel commented on #155
Yes in a way. I have a code which I want Language server to include before it loads code from current editor instance.

[2019-06-07 14:44] rcjsuen commented on #155
@dhruvppatel So it sounds like you need to investigate how the Python language server determines what's on its path and then see how you can structure your students' files on the server so that the language server is able to read those.

[2019-06-09 07:28] #138 closed

[2019-06-12 07:03] dhruvppatel commented on #155
@rcjsuen Python Language Server does not contain code as a file on that server. Learner code stays in the database and we load the piece of code in the browser and initiate Monaco editor. We have done POC using Monaco Language Client(by TypeFox) and it's working fine for the editor instance.

We would like to use Monaco Language Client to send extra code at the time of initialization which is not

[2019-06-12 07:18] dhruvppatel commented on #155
@rcjsuen Python Language Server does not contain code as a file on that server. Learner code stays in the database and we load the piece of code in the browser and initiate Monaco editor. We have done POC using Monaco Language Client(by TypeFox) and it's working fine for the editor instance.

We would like to use Monaco Language Client to send extra code at the time of initialization which is not

[2019-06-12 10:33] rcjsuen commented on #155
@dhruvppatel I don't think you have much of a choice here. It sounds like you should refer to microsoft/monaco-editor#45 if you want to hide pieces of your code.

[2019-07-06 15:00] mediarl commented on #93
Could you give an example on how to do add syntax coloring with the examples provided with code?
I am not able to make it work. I am not so familiar with module system so I am probably missing something.
Thanks

[2019-07-13 15:30] rcjsuen commented on #145
@Aayush04 I think you'll have to look into modifying the `onDidChangeContent(*)` function to force it to send everything.

https://github.com/TypeFox/monaco-languageclient/blob/4716d0fb6e6c3a99513a1357005ee5c758ff7dcc/src/monaco-workspace.ts#L50-L63

[2019-07-13 15:41] rcjsuen commented on #154
@ph-fuergy I've opened #159 to (hopefully) address this. Can you take a look and see if it matches what you've found while debugging?

[2019-07-16 14:09] OmReddy opened #160 "Connecting monaco with Yang language server"
Hi,

I am having trouble to use this in my example. I am trying to connect to Yang language server (via web socket based) . I just modified few things to connect to Yang-LSP.

In client.js harcoding my yang-lsp server
function createUrl(path: string): string {
    const protocol = location.protocol === 'https:' ? 'wss' : 'ws';
    return normalizeUrl(`${protocol}://localhost:5007`);
}

languagecli

[2019-07-16 22:02] rcjsuen commented on #160
@OmReddy Have you tried connecting with other language servers? Do those work?

[2019-07-17 05:00] OmReddy commented on #160
@rcjsuen the examples given with the Monaco language server are working for me
[languageClient](https://www.npmjs.com/package/monaco-languageclient). Both examples are on JSON server.
I did my changes in [json-server-launcher](https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/json-server-launcher.ts). So instead of JSON i am starting my Yang LSP here.
It appears everything i

[2019-07-17 11:11] rcjsuen commented on #160
Perhaps you could try launching the YANG language server from the command line and sending things directly in from there or try connecting to it with a different language client? Or maybe not use web sockets?

The [VS Code extension for YANG](https://github.com/theia-ide/yang-vscode/blob/4a7d4318b7c2f6603efb074aba8b2ddc31b4cd84/client/extension.ts) doesn't seem very complicated so it seems like it

[2019-07-19 09:54] ph-fuergy commented on #154
Yes, it is exactly what i mean.

[2019-07-19 12:45] OmReddy commented on #160
@cdietrich @tocjent
Hi Folks, sorry to bother you guys... i read the discussion you guys had on similar issue few months back [189](https://github.com/eclipse/lsp4j/issues/189)
Can you suggest what is the work around for this

[2019-07-21 14:04] #142 closed

[2019-07-23 14:26] cdietrich commented on #160
either you can add/trim the header on the server.
or you use the upcoming lsp 0.8.0-SNAPSHOT which has support for websockets directly by avoiding using StreamMessageProducer/Consumer

https://github.com/eclipse/lsp4j/pull/314

[2019-07-23 18:33] #147 closed

[2019-07-24 00:42] rcjsuen commented on #146
@Aayush04 @israelvaldez I was able to reproduce the problem. I also noticed that others have encountered this problem in the past. See OmniSharp/omnisharp-roslyn#1087.

[2019-07-24 15:40] merzbird opened #161 "Call 'workspace/executeCommand' programmatically"
Could you please provide an example of code to execute some command on server from monaco-languageclient programmatically?
Something like
[code]

Unfortunately, I cannot grasp how to do it from reading the docs/source code.

[2019-07-25 09:52] #148 closed

[2019-07-26 18:40] Progyan1997 commented on #40
@amarnath-mishra Hey I was trying to setup a remote LSP with Monaco editor, but `textDocument/completion` event is not being called even when trigger character is present. Can you help?

[code]

[2019-07-26 19:17] Progyan1997 commented on #145
@Aayush04 Hey, I am trying to setup similar architecture. How far are you with integrating monaco with Omnisharp?

[2019-07-29 11:36] #149 closed

[2019-07-30 11:29] senn412 commented on #141
Is this upgrade still coming?

[2019-07-31 07:41] #139 closed

[2019-08-09 13:05] nmaoez opened #162 "Connecting the Monaco Editor with an own Xtext language server"
I'm trying to connect the Monaco Editor with a language server where my own Xtext language is loaded. Before I start to build the dsl, I wanted to get a basic communication between the language server and the editor running. So therefore I'm testing with the `Hello World` [basic example model](https://www.eclipse.org/Xtext/documentation/102_domainmodelwalkthrough.html). I was able to get the web s

[2019-08-09 13:12] cdietrich commented on #162
i am not sure what you are exactly testing but there is no server side highlighting in this scenario.
thus you would have to provoke a parse error or add a validation to test this.

[2019-08-09 13:47] nmaoez commented on #162
My initial goal is to get a complete vertical connection between all components. My expectation was just that I would get to see anything in the frontend like the highlighting (or anything else, just like an indicator for a running connection).

I start the `main()`-method in the `com.novomind.language.server.expression.websockets`-subproject manually in Eclipse. For the most part, I focused on th

[2019-08-09 13:54] cdietrich commented on #162
no the 3 is correct.
the server runs but it seems it cannot handle your uris.
they are bad / not expected

better
[code]

[2019-08-09 14:14] cdietrich commented on #162
you may also have a look at
https://github.com/eclipse/lsp4j/issues/203
https://github.com/eclipse/lsp4j/pull/314
https://github.com/OpenKieler/elkgraph-web/pull/13/files#diff-c6a79430e3155eaa1b62ade47757e09f

(requires lsp 0.8.0 snapshot)

[2019-08-09 14:18] nmaoez commented on #162
I changed the URI and tried to connect the editor with the web socket server in xtext-languageserver-example (`RunWebSocketServer3.xtend`). Now I get following error:

[code]

Okay I will have a look at your suggested links. Thank you very much for your help so far.

[2019-08-09 14:20] cdietrich commented on #162
Please debug your server

[2019-08-09 14:22] cdietrich commented on #162
BTW this seems as you explicitly call the stuff so you may restart everything / close the editors. This code is not working with more than one client

[2019-08-09 14:56] akosyakov commented on #24
We've decided to go with es6 dependencies and kill our fork. Clients will need to target es6 as well our use babel to down level monaco-langaugeclient and its dependencies to es5. I will explain how it can be done in the CHANGELOG.

[2019-08-09 15:17] cdietrich commented on #162
you use "monaco-editor": "^0.17.1",
but https://github.com/TypeFox/monaco-languageclient/pull/163 is not done yet.
=> you should use monaco 14 (or 15 - have not tested that)

[2019-08-12 09:12] akosyakov opened #164 "looking for maintainers"
We don't have enough time to catch up with LSP and Monaco changes regularly, so we would be glad a help with it. If you are interested leave a comment here.

Each maintainer is added as `Admin` to this project. He is free to help as it suits him in following areas:
- upgrading to latest LSP and Monaco
- releasing new versions (you will be added as a collaborator on npmjs with publish access right)

[2019-08-12 09:56] johnwiseheart commented on #164
We'd be happy to maintain it - but probably don't have the resources to keep it up to date outside of what is required by us - eg updating LSP and Monaco when we need the new versions.

Theres not a whole lot of activity here, so handling issues is probably not a huge problem.

[2019-08-14 06:07] akshay-zz commented on #40
@amarnath-mishra , Can you tell us how you achieved that in little detail?

[2019-08-18 11:25] #155 closed

[2019-08-18 13:00] akosyakov commented on #131
@asual Would you be interested in https://github.com/TypeFox/monaco-languageclient/issues/164?

[2019-08-18 15:31] vitalybaev opened #165 "Can't build in Create-React-App project"
[code]

Steps:
1. Create new project`npx create-react-app test-app-monaco --typescript`
2. Add monaco-languageclient: `yarn add monaco-languageclient`
3. Trying to use it:
[code]

[2019-08-18 17:54] vitalybaev commented on #165
I've found the solution here https://github.com/theia-ide/theia/issues/2589#issuecomment-414146952

[2019-08-18 17:54] #165 closed

[2019-08-19 13:28] nmaoez commented on #162
Sorry for the late reply. I was on vacation last week.

After some local testing and debugging I managed to get the smallest example running. The current state is pushed into my personal project. The main issues were firstly the wrong URI and lastly I had a typo in the language id...

Nethertheless thank you very much for your help. Now I can continue on my main task.

[2019-08-19 13:28] #162 closed

[2019-08-20 05:54] asual commented on #131
@akosyakov Thanks for asking! I'm quite interested in having this properly maintained since I'm currently using it at my job. Unfortunately I cannot guarantee that this will be the case in the long term and would prefer to contribute on a case by case basis.

[2019-08-20 14:52] akosyakov commented on #131
@asual i understand, my idea was to have big enough pool of maintainers which can do such case per case fixes and release new minor versions. So one time you do, another time somebody else. Otherwise it can be another year when i come back to the project 😬

[2019-08-20 19:47] mofux commented on #164
I'd be happy to maintain this repo too. @akosyakov @johnwiseheart How do you feel about setting up a slack workspace for the project maintainers, so we can synchronize more easily?

[2019-08-21 14:29] akosyakov commented on #164
@mofux as you negotiate with others, as far as I understood all of us have other projects to work on, so probably there won't be much chatting going on :)

[2019-08-21 16:34] zewa666 commented on #164
I cant sadly focus on an additional OSS project due to time constraints, aka the nice way to say that my newborn son eats up all my sparetime ;)

So while I cant help out as maintainer, as part of my job my Team and I can make sure to try out PRs with our product and help out that way.

[2019-08-23 10:41] #24 closed

[2019-08-23 10:41] #131 closed

[2019-08-23 10:41] #141 closed

[2019-08-23 11:56] akosyakov commented on #116
addressed by https://github.com/TypeFox/monaco-languageclient/pull/163

[2019-08-23 11:56] #116 closed

[2019-08-23 12:13] akosyakov commented on #164
@zewa666 any help is welcome, trying out is the big part of maintenance work.

[2019-08-23 16:31] gins3000 commented on #164
@akosyakov Thank you for including me in this list, and it's good to hear that @johnwiseheart  and @mofux expressed interest in keeping this repo up, even if it is just the minimal maintenance.

Like @zewa666 , at the moment I can only offer to continue using this repo and provide "field feedback" and the occasional PR.

Good luck!

[2019-08-24 14:24] rcjsuen opened #169 "monaco-languageclient claims it supports workspace/configuration when it doesn't"
[code]
We register support for `workspace/configuration` in `MonacoLanguageClient` but the default implementation of `MonacoWorkspace` doesn't support this as it doesn't provide an override for `configurations`.
https://github.com/TypeFox/monaco-languageclient/blob/10f66f4ccfa41c615733071b32e174003f55016f/client/src/monaco-language-client.ts#L88

[2019-08-24 14:25] rcjsuen commented on #169
Actually, after some research I'm not sure if `MonacoWorkspace is to blame or not. It feels like the failure is happening way before that?

[2019-08-24 14:50] rcjsuen commented on #169
This looks like my own fault with having put too many breakpoints in the code. There might still be an issue around `workspace/configuration` requests but I am closing this for now.

[2019-08-24 14:50] #169 closed

[2019-08-26 07:00] #154 closed

[2019-08-26 09:25] akosyakov commented on #161
It should be something like ´languageClient.sendRequest(...)`

[2019-08-26 09:31] akosyakov commented on #116
0.10.0 was released with support of Monaco 0.17.0

[2019-08-26 09:31] akosyakov commented on #24
0.10.0 was released with support of Monaco 0.17.0

[2019-08-26 09:32] akosyakov commented on #131
0.10.0 was released with support of Monaco 0.17.0 and LSP 5.3.0

[2019-08-26 09:32] akosyakov commented on #141
0.10.0 was released with support of Monaco 0.17.0 and LSP 5.3.0

[2019-08-27 06:27] ph-fuergy opened #171 "Question: Angular with monaco editor and monaco-languageclient"
Hi,
I am created a github [project](https://github.com/ph-fuergy/angular-monaco-languageclient) as example for using angular with monaco editor and monaco-languageclient.

But I have some questions for best practice of using monaco and monaco-languageclient and a few problems. Can you @akosyakov review my solution and give me some hints.

Later I want to make my project as public with goal to show

[2019-08-28 08:51] scarab5q opened #172 "Remove the VSCode dependency"
As it says on the README [here](https://github.com/Microsoft/vscode-extension-vscode#readme) the vscode module has been spit into two and should now be replaced by the @types/vscode and vscode-test modules. I'm working on a PR to fix this and should have that up in a moment, however I just thought I would make an issue about it first to draw attention to it.

[2019-08-28 10:39] alexander-makarevich commented on #171
Hello
There is an [example](https://github.com/Louis-7/angular-monaco-languageclient) how to integrate monaco editor with angular using LSP. The modules are used in the example are deprecated. Could you share your project to actualize information about the integration?

[2019-08-28 11:07] alexander-makarevich commented on #135
Hello
I have just faced with the same problem. Have you tried exclude ngx-monaco-editor and add monaco-editor-core to avoid conflicts?

[2019-08-30 14:27] merzbird commented on #161
Thanks.

[2019-08-30 14:27] #161 closed

[2019-08-30 14:52] merzbird opened #173 "CompletionItemKind converter is broken"
It looks like converter from LSP's `CompletionItemKind` to Monaco's `CompletionItemKind` is broken due to this logic:

[code]

In fact, there are a lot if difference not only in zero/one based indexes.

LSP
[code]

Monaco
[code]

This results in invalid completion item icons for some of the kinds.

[2019-09-01 12:04] akosyakov commented on #173
@merzbird PRs are welcomed

[2019-09-02 07:16] ph-fuergy commented on #171
Yes I could, but first I want to make it good. Now it is a private project. I can add you as collaborator too.
I was inspired with project you mention. But I am not sure that it is good as example now. Can you help me with that?

[2019-09-02 10:01] #173 closed

[2019-09-09 05:14] akosyakov opened #176 "migrate to monaco 0.18.x"

[2019-09-27 11:23] #172 closed

[2019-09-28 15:33] #160 closed

[2019-09-29 01:51] #146 closed

[2019-09-30 14:11] PHameete commented on #176
What needs to be done for this upgrade?

I'm unclear how the LanguageClient exactly connects to the Monaco editor. Is this just a matter of updating `MonacoToProtocolConverter` and `ProtocolToMonacoConverter` to correspond with https://github.com/microsoft/monaco-editor/blob/master/monaco.d.ts ?

[2019-10-01 08:21] akosyakov commented on #176
- Bump up the version
- fix all compilation errors
- try out examples and make sure that they work

then ping me to publish the dev version for a PR that it can be tested in downstreams

[2019-10-01 09:36] PHameete commented on #176
I'll try to open a PR today.

[2019-10-01 09:47] PHameete commented on #176
Its already done actually :-) please take a look when you can. I've tried the examples and they are working.

[2019-10-01 20:25] #145 closed

[2019-10-14 23:17] kimolank opened #180 "How to use peek definition and goto definition"
I was able to connect monaco to a real language server using monaco-languageclient. Somethings work but things like peek definition and find references don't.

I understand that I have to add `overrides` when doing `monaco.editor.create` but they are undocumented and the examples on monaco-editor repo only work on older versions.

Any documentation for these overrides? I tried copying Theia here
h

[2019-10-15 12:14] ElDarco opened #181 "How to use your plugin with php language server?"
Hello. Firstly, thanks for your tremendous work.
Please could you help me. There was a task to get functionality for editing php files on the site. I connected monaco-editor via webpack, but I needed the ability to auto-complete the code. I found such a server (https://hub.docker.com/r/felixfbecker/php-language-server/) and your plugin, but I can’t figure it out for a long time, is there any way t

[2019-10-15 13:59] rcjsuen commented on #181
@ElDarco It should be possible to talk to any language server assuming it follows the protocol. I suggest you check the example and try to change how the server is initialized.

https://github.com/TypeFox/monaco-languageclient/blob/602e7606c046036d3627b59064bbfb4b67e7d2e8/example/src/json-server-launcher.ts#L14-L19

[2019-10-15 23:30] ElDarco commented on #181
@rcjsuen Fine. Thanks for the answer. But I followed the example in the "examples / browser" folder, but as far as I understand, in order for it to work correctly, do I need to add a socket connection and rewrite the provideCompletionItems method?

[2019-10-15 23:44] rcjsuen commented on #181
@ElDarco No, you shouldn’t have to do any of that from my experience.

[2019-10-16 09:56] NLueg commented on #180
Did you set the boolean `definitionProvider: true` in your ServerCapabilities?
I had the same issue some time ago, but I just forgot to tell the client that the server supports it.

[2019-10-19 10:00] kimolank commented on #180
Yeah, I tried it with 5 language servers that used to work on Monaco 14 used to work, but not 17. The theia ide uses internals of this package and it's a bit more complicated.

Idk how to debug it.

I use it as an editor for my VPS happy to share code.

[2019-10-19 10:07] kimolank commented on #180
What is the override service responsible for peek definition?

[2019-10-22 11:52] lilifan commented on #41
@rcjsuen Sir, could you please kindly tell me why is the "model.json" file?  and how does it being loaded into "memory".  Because I saw both the official example and your Dockerfile browser example contains this code :" var MODEL_URI = 'inmemory://model.json'; "

[2019-10-22 12:41] rcjsuen commented on #41
@lilifan It's "loaded into memory" because the content of the file is created completely from code.

https://github.com/TypeFox/monaco-languageclient/blob/602e7606c046036d3627b59064bbfb4b67e7d2e8/example/src/client.ts#L22-L32

[2019-10-23 02:33] lilifan commented on #41
@rcjsuen Thank you very much!  so "the content of the file"  is the value string contains of schema and line_endings?
By the way, I was curious about how did you know to use the "inmemory://model.json"?  because I didn't find it in any documents and any repositories.

[2019-10-23 08:28] lilifan commented on #41
It seems the example lacks syntax highlighting . Actually it has disabled the default syntax colorization Monaco editor provides.(https://microsoft.github.io/monaco-editor/)
Is there anyway we can get it back ?
@rcjsuen   @akosyakov

[2019-10-23 12:30] rcjsuen commented on #41
@lilifan It is mentioned in the [VS Code repository](https://github.com/microsoft/vscode/blob/911eabf34a97b7aa5ab1242287abd0135c2de891/src/vs/base/common/network.ts#L11-L15).

[2019-10-24 00:01] mhintzke13 opened #182 "Using with latest version of ngx-monaco-editor appears to fail during runtime"
I tried to follow the directions needed to get the 'vscode' API working outlined in the CHANGELOG.md which allowed my build to work. However, during runtime the Monaco Library is trying to interact with some contracts that don't appear to be correct.

For example, the latest `monaco-editor` library has this model:

https://github.com/microsoft/vscode/blob/a318b97373602cf81fc146ff93547f5fae7cd417/s

[2019-10-24 00:21] mhintzke13 commented on #182
Ok so I just realized there is an outstanding PR to fix this here:

#178

Closing issue

[2019-10-24 00:21] #182 closed

[2019-10-24 07:39] lilifan commented on #41
Thx.

[2019-10-24 18:44] mhintzke opened #183 "'vscode' typings bleeding into monaco-languageclient interfaces"
I need to hook into the MonacoLanguageClient middleware so I could handle Diagnostics in our application. However, when I tried to do so, the typings from `vscode` aren't available to the application as 'vscode' is not a dependency of the application itself.  There seems to also be a `Diagnostic` type in the monaco-languageclient library itself, but the interface we are interacting with comes dire

[2019-10-24 19:00] mhintzke13 commented on #183
**UPDATE**

I have tried just installing the latest version of `vscode` directly and so far everything seems to be working fine. Should `vscode` become a peer dependency now of this library or am I doing this wrong?

[2019-11-03 13:43] zhixzhan opened #184 "donot use next version dependency"
version@0.10.2

[code]
after install, error appears, the next version package interface do not match

<img width="782" alt="Screen Shot 2019-11-03 at 9 37 30 PM" src="https://user-images.githubusercontent.com/49866537/68086017-2f0b8b00-fe82-11e9-908e-1e3930c3bf07.png">

<img width="1083" alt="Screen Shot 2019-11-03 at 9 18 25 PM" src="https://user-images.githubusercontent.com/49866537/68085778-82c

[2019-11-04 07:56] lilifan opened #185 "How to uninstall services and close socket connection"
Hello. Firstly, thanks for your tremendous work.
I have successfully integrated your example code into my project, but then I come across two problems after I close the editor and then reopen it.
1、"Error: Language Client services has been overridden" : because `MonacoServices.install(editor) `  doesn't return a proper unInstall function.  So when I run these code again, console error comes out al

[2019-11-04 09:08] asual commented on #184
This concerns me too but I believe that it also needs to be addressed in TypeFox/vscode-ws-jsonrpc.

[2019-11-06 08:11] akosyakov commented on #184
Not sure whether we can avoid not using `next` version. It was done to get latest features.

[2019-11-06 13:43] marechal-p commented on #184
@akosyakov how about pinning to `5.3.0-next.6` (from this repo yarn.lock) or the version just before the current breakage?

I think it would be enough to fix this issue and dependents. Right now the version constraint is too large.

[2019-11-07 05:56] akosyakov commented on #184
We will need to pin it here https://github.com/microsoft/vscode-languageserver-node/blob/430b9686a88781315996fd2cc252292faf82f46e/protocol/package.json#L19 It is not feasible.

Pinning in dependent projects don't help, because yarn/npm will pull another version anyway from the primary package.

[2019-11-07 10:01] quank123wip opened #186 "Is there any way to run the LSP Service supporting monaco editor with Webassembly"
I thought we can run Linux container in browser,use a minimal filesystem, but we don't have x86-64 support and it's not pretty useable(not that fast).
If we compile language server(such as ccls) as WebAssembly, redirect all read/write actions into a minimal Linux filesystem, and redirect the websocket service into the monaco editor. Is that possible? I think it's a better solution than run the Lan

[2019-11-07 12:40] akosyakov commented on #186
Language server needs access to local binaries to work. I don't think browser provide such access. Even if they would what would be the point of such solution if a user have to install runtime for language server locally?

[2019-11-07 14:06] quank123wip commented on #186
No, I mean that make a minimal Linux FS and pack it some way, redirect all read or write actions direct to the Linux FS File

[2019-11-07 14:13] quank123wip commented on #186
All work provided by a webassembly service , just "simulate" a developing machine

[2019-11-08 04:25] quank123wip commented on #186
Maybe we can use [jvilk/BrowserFS](https://github.com/jvilk/BrowserFS) and [Emscripten](https://github.com/emscripten-core/emscripten) to deal with the problem :)

[2019-11-08 06:47] akosyakov commented on #186
@quank123wip The scope of this package is already fixed, many projects depend on it. The best choice of action would to create another package and experiment there.

[2019-11-08 07:37] #171 closed

[2019-11-08 09:09] #186 closed

[2019-11-20 14:25] chris-rr opened #187 "Scala Metals Integration"
Hi There!

First of all, awesome piece of work, very exciting possibility to be able to connect a web-based editor to language servers in a general way, and with so much in the way of support and examples due to the VS Code association.

I am interested to better understand the means by which other language servers can be connected - I'm looking at a Scala Metals integration myself, and struggling

[2019-11-20 14:38] rcjsuen commented on #187
Not entirely true. There are two means of launching the language server in the example. You want to look at the code where the language server is launched via an external process and change that to suit your needs.

https://github.com/TypeFox/monaco-languageclient/blob/602e7606c046036d3627b59064bbfb4b67e7d2e8/example/src/json-server-launcher.ts#L17-L19

This is basically handled for free by the li

[2019-11-20 16:07] chris-rr commented on #187
Many thanks for prompt reply @rcjsuen !
Ok, so basically I would just modify the launcher to create a server connection via Java executed on the Metals server jar with appropriate args (following metals-vscode essentially), and the integration should work with the "LSP->protocol_>monaco" conversions achieved internally by the MonacoLanguageClient?  That would be amazing 👍

[2019-11-20 16:09] rcjsuen commented on #187
@chris-rr Only one way to find out...

![](https://i.pinimg.com/236x/8b/34/d8/8b34d8efa280959af733f542aee3a116--programming-humor-o-reilly.jpg)

[2019-11-20 16:11] chris-rr commented on #187
Thanks again, will let you know once I have a result so this can be closed.

[2019-11-21 05:04] XVilka opened #188 "Support UTF-8 for the LSP protocol"
See the lengthy discussion here: https://github.com/microsoft/language-server-protocol/issues/376

It seems that monaco-languageclient is one of a few that uses UTF-16 https://github.com/Avi-D-coder/lsp-range-unit-survey

Would be nice if it will have UTF-8 support as well, at least optionally.

[2019-11-21 09:03] akosyakov commented on #188
Monaco language client is based on vscode-languageserver and monaco-editor-core (VS Code editor). First it should be adopted there.

[2019-11-21 09:03] #188 closed

[2019-11-21 12:50] chris-rr commented on #187
@rcjsuen Alright, did as suggested and have managed to get this working 👍

Ran into an issue with the rootUri setting by `MonacoServices.install` -  the `rootUri` passed as `Options` seems only to populate the workspace details, but doesn't cause the `rootUri` property of the initialization message params to be set - Metals requires this parameter to be populated so I have just set it at the init

[2019-11-21 16:25] rcjsuen commented on #187
1. I'm not familiar with that flag in the context of this library (as I've never had to work with it) but it does sound suspicious. There's not too much context to go on in the original report in #31 that brought about the change.
1. You need to give it a URI that it expects. For most cases this is likely a `file` URI. How the language server uses that information (along with `rootUri`) is non-det

[2019-11-26 08:21] minazukie commented on #185
https://github.com/TypeFox/monaco-languageclient/pull/156

[2019-12-02 10:29] vitalybaev opened #189 "Any plans for supporting protocol v3.15"
Hi! I'd like to use the latest Golang server - gopls. Unfortunately, now gopls supports 3.15 protocol. This cause issue with `tagSupport` schema: in 3.14 it's bool, in 3.15 it's different struct.
Thanks

[2019-12-02 11:08] rcjsuen commented on #189
@vitalybaev Can you share a stacktrace of the error in question?

[2019-12-02 13:41] rcjsuen commented on #189
@vitalybaev I cannot find the string `tagSupport` anywhere in the [3.14 specification](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/).

[2019-12-02 17:57] vitalybaev commented on #189
@rcjsuen yes, I've not found too. But the following message has sent:
<img width="764" alt="Снимок экрана 2019-12-02 в 20 53 08" src="https://user-images.githubusercontent.com/724423/69982613-f1b02100-1545-11ea-9a6c-dbc3ff6d7b2e.png">

I can't show error right now.

In 3.15 it is here:
https://github.com/golang/tools/blob/ecd32218bd7f33fd31c1abbfb74283690bedd093/internal/lsp/protocol/tsprotocol.go

[2019-12-04 10:21] NLueg opened #190 "Support of "LocationLink" for the "onDefinition"-Method"
Hello everyone.

First of all, thank you for the work so far. The client helped very much with implementing an editor.

Background
--------------------------
I currently work on a [language-server](https://github.com/NLueg/ov-language-server) for the DSL [openVALIDATION](https://github.com/openvalidation/openvalidation).
During the implementation, I considered most of the functions of the LSP, inc

[2019-12-04 13:54] rcjsuen commented on #190
@NLueg Did you look the `asLocation` function at line 635 of `ProtocolToMonacoConverter`? What does the `item` look like? I guess its `uri` property is `undefined`?

[2019-12-04 14:41] rcjsuen commented on #190
Based on the capabilities that are being sent to the language servers, `linkSupport` is advertised as being `true` so `LocationLink` should be supported.

[2019-12-05 05:39] NLueg commented on #190
@rcjsuen Thank you for your fast response!
Yes, I looked at the `asLocation` function and there is the problem I think.
The `uri` is `undefined` in this case, because the attribute has another name in the `LocationLink` object.

Here the definition for `Location`:

[code]

and the definition for `LocationLink`:

[code]

As you can see, the naming of the attributes is quite different.
In the `asLoc

[2019-12-09 09:02] yyy2015 commented on #139
hi, I want to know if you have solved this problem. I have connected the eclipse jdt and successfully send the initialize request. When the lsp server send a 'client/registerCapability' request to the client, the client responses a -32604, Unhandled method client/registerCapability. Really appreciate for your reply.

the server sent to the client:

[code]

the client responsed:

[code]

[2019-12-10 04:38] yyy2015 opened #192 "Unhandled method client/registerCapability"
I have used an extra lsp server named eclipse.jdt.lsp. After the initialize request, the server send a registerCapability rquest to register the completion provider. But the client responsed an "-32601 Unhandled method client/registerCapability"，How can I fix this problem? Does this languageclient support this function?  Since the server cannot register this capbility, the auto completion won't wo

[2019-12-12 06:37] yyy2015 commented on #192
I have solved it. The key point is to keep the monaco-langclient in consistence. I used an old version which led to this problem.

[2019-12-12 06:37] #192 closed

[2019-12-22 02:38] #181 closed

[2019-12-23 17:18] shubhamsony commented on #81
i am facing the same issue. Syntax highlighting is not working when use monaco-editor-core with python language server. There is no basic languages support in monaco-editor-core. On replacing it with monaco-editor it is giving some weired error i.e. try appropiate loader

[code]

Here is the error log -

`ERROR in ../node_modules/monaco-editor/esm/vs/base/browser/ui/codiconLabel/codicon/codicon.tt

[2019-12-24 09:10] Louis-7 commented on #135
@alexander-makarevich , in your tsconfig.json add `"skipLibCheck": true`.

[2019-12-25 03:36] Louis-7 commented on #135
Just trying monaco-languageclient with Angular 8. `"skipLibCheck": true` is no longer effective anymore.

[2019-12-25 08:09] Louis-7 commented on #171
@alexander-makarevich, I update my [example ](https://github.com/Louis-7/angular-monaco-languageclient)and now it's available

[2019-12-25 08:18] Louis-7 commented on #183
Check this out: https://github.com/TypeFox/monaco-languageclient/blob/602e7606c046036d3627b59064bbfb4b67e7d2e8/example/webpack.config.js#L36
The error is not related to vscode missing. Actually, it's another dependency.
The error was gone after I add this line to my webpack configuration.

[2019-12-25 12:00] #180 closed

[2019-12-30 17:57] rcjsuen commented on #176
Looks like Monaco 0.19.0 has been released. 🤔

[2019-12-31 10:22] PHameete commented on #176
@rcjsuen lets get this merged first, then we can look at 0.19.0 :-)

Hopefully @akosyakov can find some time for reviewing/merging.

[2020-01-10 11:14] zerocewl commented on #176
any news here @akosyakov ?

[2020-01-10 11:16] zerocewl opened #194 "migrate to monaco 0.19.x"
Sources should be checked for breaking changes in 0.19:

https://github.com/microsoft/monaco-editor/blob/master/CHANGELOG.md#0190-20122019

[2020-01-13 06:42] #184 closed

[2020-01-16 13:35] mehulmpt opened #195 "Help regarding Language Server deployment"
Hello there!
So I've been stuck more or less 2 days on setting up a language server for Java and I think I'm close but I have no clue where to go now. The thing is, I'm running this https://github.com/georgewfraser/java-language-server language server inside a docker container and I've started the server with the provided `././lang_server_linux.sh` script in that repo.

Now, how do I link this run

[2020-01-17 15:08] apupier opened #196 "Upgrade to vscode-language-client 6.0.0"
it would be nice to upgrade to 6.0.0
https://github.com/Microsoft/vscode-languageserver-node/blob/master/README.md#3150-protocol-600-client--600-server

there is especially fixed devDependencies to make it easier to use:
https://github.com/microsoft/vscode-languageserver-node/blob/0b7a2b3c3f00c596fe799b31d6a34a594a53e26b/client/package.json#L22

https://github.com/microsoft/vscode-languageserver-n

[2020-01-17 19:00] #176 closed

[2020-01-18 23:17] CGNonofr commented on #195
Hello !

The simplest way is to keep the demo code (in process mode), and just replace le process execution (`JSON node file.js`) by the `docker run -it --rm ...`

I don't know about this particular implementation but most use stdin/out to communicate, so your can't just 'connect' to it, your need to launch it (well with docker your can attach afterward but there's no point here)

The next step is

[2020-01-20 05:49] akosyakov commented on #196
@azatsarynnyy @RomanNikitenko It would be nice to make together with upgrade to latest Monaco, without going over everything twice.

[2020-01-27 04:01] tavisca-ysant commented on #40
@gmichaud . Please tell how you achieved this

[2020-01-27 17:27] #187 closed

[2020-02-01 09:12] #185 closed

[2020-02-08 00:50] #189 closed

[2020-02-20 09:11] zerocewl opened #200 "How to change workspace uri?"
I'm trying to change the uri for an existing workspace while the language client is running, but without luck.
**Is there any preferred way to change the workspace uri or init a new workspace?**

I created the workspace via clientoptions:
[code]

[2020-02-20 09:16] zerocewl opened #201 "How to set configurations to client?"
Is there a way to send client config settings to a language client, e.g pyls?

I read the example from #32, where a simple example was provided. However the vscode api changed, in fact the provided example does not work.
I tried to adapt the example to the changed api, but my config is not send to `pyls`.

Is there any minimal working example for this?

[2020-02-20 09:47] zerocewl opened #202 "Missing cleanup / dispose for MonacoWorkspace `onDidCreateModel`"
As a workaround for changing the workspace uri (see #200) i tried to dispose and recreate the MonacoService.
I use the `dispose()` (#156) method for the service. Additional i call the monaco editor `dispose` method.
This seems to work well, but if i recreate/ reinit the Monaco editor i get following error:

[code]

From the depending stacktrace the call comes from the listener attached in the `Mon

[2020-03-01 11:44] #183 closed

[2020-03-11 08:35] Androsid commented on #135
can you please update your repo? I'm stuck with error: Module not found: Error: Can't resolve 'vscode'

[2020-03-11 08:45] Louis-7 commented on #135
@Androsid , can provide more details? Are you using Angular 9? Maybe you should raise another issue to track it.

[2020-03-11 10:04] Androsid commented on #135
yes. i'm using angular 9

[2020-03-12 18:09] sreekarsudireddy commented on #135
@lcnandre Could you please share some details about csharp LSP implementation.

[2020-03-14 20:24] RahulRajput1999 commented on #93
Yes, can please give any reference to how to do that?

[2020-03-19 18:05] #190 closed

[2020-03-20 10:46] azatsarynnyy commented on #194
closed by https://github.com/TypeFox/monaco-languageclient/pull/199
Thanks @RomanNikitenko!

[2020-03-20 10:46] #194 closed

[2020-03-20 10:50] azatsarynnyy commented on #196
closed by https://github.com/TypeFox/monaco-languageclient/pull/199
Thanks @RomanNikitenko!

[2020-03-20 10:50] #196 closed

[2020-03-26 02:46] #195 closed

[2020-03-29 10:59] benblayer opened #203 "Colouring Configuration"
Hi,

Can you please provide further details regarding colouring?

I.e how do I configure client & server in order to color language's special syntax?

Thanks

[2020-03-29 11:07] CGNonofr commented on #203
Hi

Syntax Highlighting is not done by LSP !

(except in very recent version which supports semantic tokens but it doesn't concern the whole document)

Monaco editor can out-of-the-box highlight some languages, if you want more, you can give a try to monaco-ace-tokenizer or vscode-textmate

[2020-03-29 11:49] benblayer commented on #203
Thanks for the response!

And what about completion? How do I configure that?
I noticed sometimes the client sends textDocument/completion message but doesn't get any related response.

[2020-03-29 12:05] CGNonofr commented on #203
Without any context, it's difficult to answer.

There is a functional example in this repo

[2020-03-29 12:09] rcjsuen commented on #203
That should just happen automatically.

1. Confirm that the client is sending the JSON request.
1. Confirm that the server is receiving said JSON request.
1. Confirm that the server is sending back a) a non-empty result or b) a promise that resolves to a valid result.
1. Confirm that the client is receiving said JSON response.
1. Confirm that the client is converting the JSON response correctly to

[2020-03-29 12:16] benblayer commented on #203
...

How is it done? can you give me an example?

[2020-03-29 12:18] benblayer commented on #203
They do send and receive JSON-RPC. but server doesn't send any completion info.

[2020-03-29 12:21] rcjsuen commented on #203
Well, if the client's request looks good to you then that implies the server has a bug somewhere and then that is not a fault of the `monaco-languageclient` library.

[2020-03-29 12:42] benblayer commented on #203
For example if I want the Monaco Editor to color the word "hello" with color red, how do I configure that?

[2020-03-29 12:58] rcjsuen commented on #203
You can take a look at the [Monarch documentation](https://microsoft.github.io/monaco-editor/monarch.html) and/or browse through the language definitions defined in the [Microsoft/monaco-languages repository](https://github.com/microsoft/monaco-languages).

[2020-03-29 13:59] benblayer commented on #203
thanks

[2020-03-30 00:14] mehulmpt opened #204 "When is exit notification dispatched?"
Hi! Thank you for a great npm module! I'm using this to implement Java and C LSP and have done it successfully, however, sometimes, I see that the remote LSP gets exited automatically even when nothing went wrong. On further inspection, I found that Monaco sometimes randomly dispatches the "exit" notification, I'm still debugging that why is that the case.

I checked the LSP specs, it just states

[2020-04-03 13:46] GNSubrahmanyam commented on #146
![image](https://user-images.githubusercontent.com/18217008/78367288-720f8d00-75df-11ea-8963-43080a1678ec.png)
@rcjsuen I am also getting this error.

Also Autocomplete is not working. Omisharp roslyn version 1.34.15

[2020-04-03 14:23] rcjsuen commented on #146
@GNSubrahmanyam Then I suggest you comment in OmniSharp/omnisharp-roslyn#1087 and OmniSharp/omnisharp-roslyn#1671 unless you think the `monaco-languageclient` library is doing something wrong.

[2020-04-03 16:54] GNSubrahmanyam commented on #146
Nothing is wrong with monaco-languageclient. python lsp is up and running. Issue with  mniSharp/omnisharp-roslyn

[2020-04-03 17:05] rcjsuen commented on #146
@GNSubrahmanyam Thank you for confirming. Then you need to take it up with the developers working on `omnisharp-roslyn`.

[2020-04-03 17:09] GNSubrahmanyam commented on #146
@rcjsuen Thank you so much.

[2020-04-04 17:36] chengtie opened #205 "Connect Monaco Editor with a language server written in OCaml"
I want to make a web page that contains an editor of code in OCaml. I prefer to use Monaco Editor.

There is a language server of OCaml written in OCaml: [ocaml-lsp](https://github.com/ocaml/ocaml-lsp).

Does anyone know how to connect the Monaco Editor to this ocaml-lsp? How could we achieve this with monaco-languageclient?

Thank you.

[2020-04-04 20:29] rcjsuen commented on #205
@chengtie I suggest looking at the existing example and modifying the code that launches the server procecss as a start.

https://github.com/TypeFox/monaco-languageclient/blob/c54b09fb6e43cfe3ecd28c061654226f77da5ad3/example/src/json-server-launcher.ts#L17-L19

[2020-04-06 06:19] chengtie commented on #205
I have made a public repository which contains `monaco-languageclient` and `ocaml-lsp`: https://github.com/chengtie/monaco-languageclient/tree/a0abcc87f5506862d88d82b2e73af7c55a22aef0

The example of `monaco-languageclient` works on the language server of JSON; `ocaml-lsp` works on its test. What we need to do is to connect these two tools.

Unfortunately, I'm not very familiar with the interface

[2020-04-06 10:22] rcjsuen commented on #205
1. Being able to run the tests is not good enough. Have you confirmed that you are able to start the server from the command line?
1. Do you know how the server communicates with an LSP client? Does it expect to use sockets or stdin/stdout?
1. There are many issues in this repository about your particular question. Perhaps #47 can help you a little.

[2020-04-07 06:58] chengtie opened #206 "Have two workspaces at the same time"
I created a repository https://github.com/chengtie/monaco-languageclient/tree/a0abcc87f5506862d88d82b2e73af7c55a22aef0 by the following steps:

1. forked from `TypeFox/monaco-languageclient`
2. copied folder `example` to `exampleTie`
3. in `exampleTie/package.json`, changed to `"name": "node-exampleTie",`
4. added `"exampleTie"` to `workspaces` in `package.json`:

However, `yarn` in the whole fold

[2020-04-07 10:38] chengtie commented on #205
Yes,  running `ocamllsp` when it is in your scope should be enough.
If we installed it through opam, `opam exec ocamllsp`
If we just have a binary somewhere, `./path/to/ocamllsp/binary`

From https://github.com/ocaml/ocaml-lsp/blob/master/ocaml-lsp-server/test/e2e/src/LanguageServer.ts, it seems that they use stdin/stdout.

[2020-04-21 10:01] xiong-ang opened #209 "Do not request "textDocument/documentSymbol" when content changed"
Want to implement "Semantic Coloring" by the monaco-languageclient and LSP server.
But I find it does not request "textDocument/documentSymbol".
Desperately want to know whether the function is available? How to open it? Or are there any documents on this?

[2020-04-21 10:55] CGNonofr commented on #209
To do so, you'll need a more recent version of monaco editor

I opened a PR (https://github.com/TypeFox/monaco-languageclient/pull/207) to update to monaco 20.0.0

but I didn't implement registerDocumentSemanticTokensProvider and registerDocumentRangeSemanticTokensProvider (they are binded to `unsupported`), so I guess we'll need some changes to make it work

[2020-04-21 11:19] xiong-ang commented on #209
Good news. Wish that comes soon!

[2020-04-21 11:37] rcjsuen commented on #209
Even if you hook up the semantic tokens provider, you won't get any colouring support because of microsoft/monaco-editor#1833.

[2020-04-26 09:06] GNSubrahmanyam opened #210 "on change language how to close current language server connection and start new lanugage server connection"
Hi @rcjsuen,
If i change language from python3 to csharp then python3 connection should close and start csharp connection.

![image](https://user-images.githubusercontent.com/18217008/80302987-04641480-87cb-11ea-8d48-09cf93661590.png)

[2020-04-26 11:13] CGNonofr commented on #209
I just updated my PR to implement the new semantic token API, and I managed to make it work on the docker lsp (https://github.com/rcjsuen/dockerfile-language-server-nodejs) which is the only implementation for the moment

What you need to do is:
- Use the code from my PR
- enable semanticHighlighting:
[code]
- implement the `getTokenStyleMetadata` theme method:
[code]
(The last parameter (`modelLa

[2020-04-26 11:19] rcjsuen commented on #210
@GNSubrahmanyam Sorry, I've never had this use case for my own requirements so I can't help you here.

[2020-04-29 23:06] dkattan opened #211 "LSP 3.15 Support"
This is a duplicate of #189

When connecting to a language server using protocol version 3.15 (PowerShell Editor Services in my case), the language server throws an exception:

Newtonsoft.Json.JsonSerializationException: 'Error converting value True to type 'OmniSharp.Extensions.LanguageServer.Protocol.Client.Capabilities.PublishDiagnosticsTagSupportCapability'. Path 'params.capabilities.textDocum

[2020-04-30 06:01] #200 closed

[2020-04-30 06:01] #201 closed

[2020-04-30 06:01] #202 closed

[2020-05-01 04:34] dkattan commented on #211
Turns out I was using 0.11.0, updating to 0.13.0 resolved this issue.

[2020-05-01 04:34] #211 closed

[2020-05-14 09:45] ahe-humio opened #212 "No header part?"
I've modified `example/src/client.ts` to talk to my own custom LSP implementation which I've prototyped by having it talk to Visual Studio Code. It works fine in Visual Studio Code.

However, my LSP implementation isn't able to communicate with the example client because it doesn't add [headers](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#headerPart)

[2020-05-15 10:06] CGNonofr commented on #212
The header is only required when transmitting over a socket or stdin/stdout

When using websocket, the message are already "splitted" so no need to add this overhead, we even prefer having a valid json in each message

[2020-05-15 12:52] ahe-humio commented on #212
I'm not able to anything in the specification that mentions that the header is optional. I think it would be great if the header was optional. I agree the headers aren't necessary when using a web socket, but neither are the first `{` and the last `}` of the JSON-RPC content part. Yet, one follows the specification to increase interoperability between various tools.

[2020-05-18 16:23] GNSubrahmanyam opened #213 "Message: Internal Error - System.ArgumentException: OmniSharp only supports being launched with a directory path or a path to a solution (.sln) file."
reference: https://github.com/OmniSharp/omnisharp-roslyn/issues/1798

@rcjsuen  @akosyakov

[2020-05-18 16:42] rcjsuen commented on #213
@GNSubrahmanyam Is there a bug with `monaco-languageclient`? The error seems to indicate the path is wrong (or the C# code is parsing it incorrectly I guess).

[2020-05-18 16:55] GNSubrahmanyam commented on #213
I tried with
[code]

and

[code]
It's working

but it is not working with
[code]
[code]

[2020-05-18 17:11] rcjsuen commented on #213
@GNSubrahmanyam You can review the [diff](https://github.com/TypeFox/monaco-languageclient/compare/v0.12.0...v0.13.0) between 0.12.0 and 0.13.0 I guess.

What paths do you see being sent between 0.12.0 and 0.13.0?

[2020-05-18 18:41] GNSubrahmanyam commented on #213
@rcjsuen Is that a breaking changes all my language server pyls, csharp has stopped working

[2020-05-18 18:58] rcjsuen commented on #213
@GNSubrahmanyam If it was a breaking change, I imagine there would be a lot more bugs open about this.

You appear to be using Monaco Editor 0.20.0 which is not currently supported. See #207.

[2020-05-18 19:42] GNSubrahmanyam commented on #213
Ok got it.

[2020-05-30 19:26] GNSubrahmanyam commented on #213
@rcjsuen still  this is not fixed

[code]

[2020-05-30 19:29] GNSubrahmanyam commented on #213
Usage:

const lspProcess = {
        processName: 'csharp',
        command: '/opt/omnisharp/run',
        args: ['-s', `${path.resolve(`/workspace/${userName}-${uniqueSlug}/`)}`,'-lsp', '-debug']
      }

https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/json-server-launcher.ts#L19

const serverConnection = server.createServerProcess(lspProcess.processName, lspProcess.comma

[2020-05-30 20:59] rcjsuen commented on #213
@GNSubrahmanyam You should check the path that you are sending to the language server I guess.

[2020-05-31 06:43] GNSubrahmanyam commented on #213
Before starting lsp I create directory dynamically inside /workspace

@rcjsuen Can you help me to fix it?

[2020-05-31 09:42] rcjsuen commented on #213
@GNSubrahmanyam Don't think anyone can really help you fix it unless they can clone your code or you have a completely self-contained example that reproduces the problem.

[2020-05-31 10:22] GNSubrahmanyam commented on #213
Sure will provide example

[2020-05-31 13:23] GNSubrahmanyam commented on #213
I fixed this issue. Workspace path was wrong. Thanks

[2020-05-31 13:23] #213 closed

[2020-05-31 14:53] rcjsuen commented on #213
@GNSubrahmanyam Your path looked okay in https://github.com/TypeFox/monaco-languageclient/issues/213#issuecomment-636374029 though. What was wrong?

[2020-06-02 10:42] vardanbansal-harness commented on #135
Has anyone successfully integrated this in React?

[2020-06-04 15:58] GNSubrahmanyam commented on #81
@rcjsuen Any update ?

Even i am getting this error

[2020-06-04 17:58] rcjsuen commented on #81
@GNSubrahmanyam I am not actively looking at this issue so I have nothing to share.

[2020-06-06 08:06] #203 closed

[2020-06-06 08:06] #204 closed

[2020-06-08 15:53] zkrami opened #214 "Issue with ProtocolToMonacoConverter"
I am implementing my own Language service provider trying to stick to the `vscode-languageserver-protocol`.

I am integrating my LSP with monaco editor.
However when I am using `ProtocolToMonacoConverter.asCodeAction` I am not receiving  the expected json structure.

Here is the structure I am receiving:
[code]

and Here is what monaco expecting to receive:

[code]
the difference is between `edit.

[2020-06-08 16:08] rcjsuen commented on #214
@zkrami Sorry, but I'm having troubles following. Can you provide some more context?

The client is sending your server a `textDocument/codeAction` request?

[2020-06-08 16:31] zkrami commented on #214
Actually I am providing the codeAction to the client to enable `quick fix` feature in monaco

I hope this snapcode will make the context a bit clearer
[code]

[2020-06-08 17:16] rcjsuen commented on #214
@zkrami How are you getting this? I don't see anything in your seven lines of code that would correspond to that?

[code]
None of the four arguments here looks like they are related to the above JSON blob.

[2020-06-08 17:55] zkrami commented on #214
Actually that's the result of `ProtocolToMonacoConverter.asCodeAction`
it's related to the returned value.
here is what I am returning from my function.

[code]

[2020-06-08 19:19] rcjsuen commented on #214
@zkrami Your `resource` looks weird. It shouldn't be an empty object. Step into the `asCodeAction` function and see what's happening.

[2020-06-08 19:20] rcjsuen commented on #214
@zkrami You should also validate what your custom `codeAction` function is returning.

[2020-06-10 19:19] dwellna opened #215 "Unhandled method client/registerCapability"
Hi,

I know there has been the same issue before just a few months back which was closed by the reporter.
But although following his advice and using the latest versions of all related/necessary packages, I still get this response from the language client when the server requests to register capabilities:

{"jsonrpc":"2.0","id":225,"error":{"code":-32601,"message":"Unhandled method client/register

[2020-06-11 10:20] dwellna commented on #215
I tried to dig through the code a bit and it looks like when creating the client I need to call onRequest() to register certain request handlers? (IConnection). I have not yet been able to find any place withing this code base where this happens.
Would this be the editors responsibility? So am I missing a link between the client and the monaco editor?

[2020-06-11 10:45] lepantella opened #216 "Is there any kind of unique ID, so I can identify my connection?"
I saw in MonacoServices the Options interface which has the rootUri variable to be set whenever I initialize new MonacoServices. Is there any kind of ID variable which makes my connection identify as unique? For example I have multiple clients that connect to the example websocket server and initialize JSON LSP (json-server-launcher.ts) for every one of them, now I need a way to identify inside `s

[2020-06-11 16:45] blafond opened #217 "Error obtaining codeAction's from java language server"
I've got a Java-based DDL/SQL language server which I can test in Eclipse IDE launcher that correctly provides quick fixes. Applying them in the text editor or via Problems view works fine.

My web-based react/patternfly app uses monaco editor and monaco-languageclient. I'm seeing in my server log that the TextDocumentService.codeActions() is correctly returning a response containing the QuickFix,

[2020-06-11 18:24] dwellna commented on #215
I got a step further.
Seems like I did a breaking change on the server side when I was figuring out the communication issues I had and then decided to implement my own input and output handlers in the omnisharp language server using Observable<string> and Observer<string> instead of streams.

I just reverted that one particular change and the exchanged message look a lot better.
However after both

[2020-06-12 07:43] #210 closed

[2020-06-12 07:47] GNSubrahmanyam opened #218 "Will lsp functionality breaks if we use socket.io instead of ws?"
@rcjsuen Need your thoughts on this?

[2020-06-12 10:40] rcjsuen commented on #218
@GNSubrahmanyam No idea, I do not have this use case.

[2020-06-12 10:43] cdietrich commented on #218
i assume yes cause of headers see also
https://github.com/TypeFox/monaco-languageclient/issues/212
https://github.com/TypeFox/vscode-ws-jsonrpc/issues/6

[2020-06-12 12:55] dwellna commented on #215
I got to a point now where server and client successfully initialize and the client is sending regular requests.
Unfortunately in the server, there is no document to synchronize with and therefore also no suggestions for auto complete etc.
I believe the client would need to send an openDocument notification in order for the server to actually create that document and synchronize.
Just need to figu

[2020-06-12 20:42] umesh-timalsina opened #219 "Porting browser example to requirejs fails to download vscode-languageserver-protocol"
When trying to use the package from `npm` with `requirejs` fails with the following message:
Requirejs Config:
[code]

Example usage:

[code]

This fails with the following error message:

![image](https://user-images.githubusercontent.com/11476842/84544520-10e0f580-acc3-11ea-83e9-c2f873c8e752.png)

I did try to add `vscode-langagueserver-protocol` to the `requirejs` paths to no avail.

[2020-06-13 09:04] #206 closed

[2020-06-13 12:04] #205 closed

[2020-06-14 11:04] GNSubrahmanyam opened #220 "When client disconnects omnisharp lsp process is not killed."
https://github.com/OmniSharp/omnisharp-roslyn/issues/1834

Other lspprocess are getting killed. Example: https://github.com/palantir/python-language-server, https://github.com/bash-lsp/bash-language-server, clangd, gopls.

[2020-06-15 16:53] GNSubrahmanyam commented on #220
@rcjsuen @akosyakov @AlexTugarev  I am running omnisharp inside docker (Nodejs) https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/server.ts
Client: monaco
LSPClient: Monaco Language Client

On browser refresh or tab close lsp process is not getting killed.

Before tab close
[code]
After browser tab close
[code]

On browser tab close parent process is getting click but child

[2020-06-16 15:11] GNSubrahmanyam commented on #40
@amarnath-mishra @Progyan1997 How you guys managed kill csharp lsp on browser refresh or tab close. In my case lsp is not getting killed

Before tab close

root@b7abb90fe627:/app# ps -elLF
F S UID        PID  PPID   LWP  C NLWP PRI  NI ADDR SZ WCHAN    RSS PSR STIME TTY          TIME CMD
4 S root         1     0     1  0    1  80   0 -  1156 wait     668   3 13:38 ?        00:00:00 /bin/sh -c "nod

[2020-06-16 17:27] dwellna commented on #215
Got it solved.
Was essentially how I configured the initialize request.

[2020-06-16 17:27] #215 closed

[2020-06-23 19:29] raxod502 commented on #201
@TypeFox Any update here? There is no documentation provided on how to do this, and without such documentation it is impossible to use this project with Python language servers among others.

[2020-06-23 20:25] raxod502 commented on #201
Oh thank god I finally figured it out (by spending some hours inspecting the innards of `vscode-languageserver-node`). You have to add a middleware, like this:

[code]

(I won't guarantee the other stuff in that code will work for you, I had to hack a bunch of other things as well. But the middleware key should be correct. Of course you must adjust the actual content of the LSP configuration to ta

[2020-06-24 08:01] apupier commented on #217
this log gives an idea of the message sent by the server to the Monaco Client:

[code]

[2020-06-24 08:12] apupier commented on #217
thinking loud:

- Can it be that Monaco Language Client is expecting an Array, although a single element is provided? https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/monaco-converter.ts#L568
- Can it be related to this code with a fixme https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src

[2020-06-24 08:22] apupier commented on #217
this issue is mentioning "parameter actions undefined value", so looks very similar. it is already fixed https://github.com/TypeFox/monaco-languageclient/issues/154 so surely another specific case?

[2020-06-24 08:28] apupier commented on #217
most (all?) of the other converters for lists have a null check:
https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/monaco-converter.ts#L556-L559
https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/monaco-converter.ts#L542-L545
https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff

[2020-06-24 08:41] apupier commented on #217
I created a [PR](https://github.com/TypeFox/monaco-languageclient/pull/221) to check for nulliness. @blafond can you try with a build from the version of this branch please?

[2020-06-25 14:15] blafond commented on #217
I looked at your PR on monaco-converter.ts and compared it against the class in my workspace.  First, my local library had a monaco-converter.js and wasn't anywhere close to the same code as latest release.  So I updated my version of the monaco-languageclient to latest:  0.13.0 and monaco-editor-core: 0.20.0 and now codeActions are being generated and accepted by the UI.

I didn't run against you

[2020-07-02 00:08] umesh-timalsina commented on #219
I am closing this because I was able to modify the example `webpack` config to transform this library.

[2020-07-02 00:08] #219 closed

[2020-07-02 13:46] boroda4436 opened #222 "Can't create a language server client"
Hi! I am trying to create a web socket client to my Java language server.
As instruction, I am using [this example](https://github.com/TypeFox/monaco-languageclient/blob/602e7606c046036d3627b59064bbfb4b67e7d2e8/example/src/client.ts)

However, I am receiving the following error when I am running `createWebSocket` function:
[code]

vscode versions:
[code]

Is there any way how to create a WebSocket

[2020-07-02 13:53] CGNonofr commented on #222
Hi, If you're using webpack, you'll need to customize your configuration a little

see https://github.com/TypeFox/monaco-languageclient/blob/master/examples/browser/webpack.config.js

especially this part:
[code]

[2020-07-03 04:22] #209 closed

[2020-07-05 21:20] joe-re commented on #214
@rcjsuen Hi, I'm facing the same problem.

I've implemented websocket connection as follows https://github.com/TypeFox/monaco-languageclient/tree/master/example.

request:

[code]

[code]

The reproducible code is here.
https://github.com/joe-re/sql-language-server/tree/monaco-editor-example/packages/server/example/monaco_editor

Actually it looks the error from monaco-editor though, is there any

[2020-07-06 02:59] rcjsuen commented on #214
@joe-re Your code doesn't compile for me for whatever reason.
[code]

[2020-07-06 03:09] joe-re commented on #214
@rcjsuen Umm looks module installation has failed.
Could you do `yarn install` on the root directory and try it again after that?

[2020-07-06 11:03] rcjsuen commented on #214
@joe-re That got me a little bit further, thanks. I opened https://github.com/joe-re/sql-language-server/issues/41 about that.

I also hit another error while trying to run your example, see https://github.com/joe-re/sql-language-server/pull/37#pullrequestreview-442974619.

[2020-07-06 12:55] rcjsuen commented on #214
@joe-re Your error is due to your usage of Monaco Editor 0.20 with `monaco-languageclient` 0.13.0. You don't have the fixes from #207 so the integration is not working properly.

[2020-07-06 18:18] joe-re commented on #214
@rcjsuen Oh, I see. I got succeeded after updating monaco-languageclient version to `^0.13.1-next.1`. Thank you for your help!

[2020-07-06 19:00] rcjsuen commented on #214
@joe-re Happy to help and glad to hear that upgrading resolved it. More people testing and validating the fix is always good! :) Good luck with your project!

[2020-07-10 08:19] GNSubrahmanyam opened #223 "How to disable capabilities like docmentations, codelens, hover and linters for all language servers"
@rcjsuen Can you help me to do that. Lsp like java eclipse taking more than 500 Mb. We can allocate 500 mb for each user / client. Concurrently 100+ java users comes in our  use case

[2020-07-10 10:40] rcjsuen commented on #223
@GNSubrahmanyam I guess you might be able to get around this by subclassing `MonacoLanguageClient` and then overriding `registerBuiltinFeatures` so you only get what you want?

https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/monaco-language-client.ts#L88

[2020-07-10 10:49] GNSubrahmanyam commented on #223
Any example ?

[2020-07-10 10:55] rcjsuen commented on #223
Without seeing your code it's hard to comment. You could try just copy/pasting the current implementation and then commenting stuff out I guess.

https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/monaco-language-client.ts#L88-L108

Perhaps you can try working with the existing example and trying to change things from there?

https://github.co

[2020-07-11 13:36] GNSubrahmanyam commented on #223
Go it thanks

[2020-07-11 13:36] #223 closed

[2020-07-11 13:38] GNSubrahmanyam opened #224 "How to disable auto import in eclipse java jdt"
@rcjsuen In our use case we want to disable autoimport. How to stop sending completionItem/resolve

![image](https://user-images.githubusercontent.com/18217008/87225328-b7471600-c3a9-11ea-8ec8-c518397a2992.png)

[2020-07-11 13:54] rcjsuen commented on #224
@GNSubrahmanyam Either use a middleware to intercept the request or change the `CompletionOptions` from the server so that you make it seem like it actually doesn't support the `resolveProvider`.

You can look at https://github.com/microsoft/vscode-languageserver-node/pull/322 or https://github.com/microsoft/vscode-languageserver-node/issues/628 for some middleware examples I guess.

[2020-07-11 14:46] GNSubrahmanyam commented on #224
I tried using middleware to intercept the request but still auto import is happening in Java eclipse language server

[2020-07-11 15:24] rcjsuen commented on #224
@GNSubrahmanyam What does your middleware code look like?

Whenever you ask for help, you should always share your code if at all possible.

[2020-07-11 15:31] GNSubrahmanyam commented on #224
@rcjsuen I did that

resolveCompletionItem: (items, token, next) => {
          console.log(items)
          next({}, token)
        },

[2020-07-11 15:39] rcjsuen commented on #224
I'm surprised the language server hasn't died since you're sending nothing back. You don't want to talk to the server at all, right? Why are you calling `next`?

[2020-07-11 15:47] GNSubrahmanyam commented on #224
I agree with you even i am surpised that language server hasn't died :D. I tried removing next call but still autoimport is happening and that's strange

![image](https://user-images.githubusercontent.com/18217008/87227977-ea92a080-c3bb-11ea-8a65-6910f4e1e51a.png)

[2020-07-11 15:49] rcjsuen commented on #224
@GNSubrahmanyam Then you need to keep debugging to see what's going on and/or reach out to the JDT Language Server team.

[2020-07-13 09:01] GNSubrahmanyam commented on #224
@rcjsuen https://github.com/eclipse/eclipse.jdt.ls/issues/1505. In JDT language server this not no option to disable auto import

[2020-07-13 09:58] rcjsuen commented on #224
Oh, that's too bad.

[2020-07-13 10:15] GNSubrahmanyam commented on #224
Any alternative way to prevent via client middleware or server middleware.

[2020-07-13 10:18] rcjsuen commented on #224
@GNSubrahmanyam Well, did you figure out where the auto-imports are coming from?

[2020-07-13 10:32] GNSubrahmanyam commented on #224
![image](https://user-images.githubusercontent.com/18217008/87294673-b33e0400-c521-11ea-99f2-fa4063f48937.png)
![image](https://user-images.githubusercontent.com/18217008/87294715-c18c2000-c521-11ea-8786-92c15e44ee1a.png)
Yes, Through additionalTextEdits

[2020-07-13 10:46] rcjsuen commented on #224
@GNSubrahmanyam OK, did you try deleting them then?

[2020-07-13 11:30] GNSubrahmanyam commented on #224
Will try. How can i modifiy the request from lsp backend?

[2020-07-13 11:31] rcjsuen commented on #224
@GNSubrahmanyam You can just modify the result in your middleware, no?

[2020-07-13 11:37] GNSubrahmanyam commented on #224
in middleware which method ?

[2020-07-13 12:43] GNSubrahmanyam commented on #224
@rcjsuen did this and it is working

import { has, get, map, omit, set} from "lodash";
import * as rpc from "vscode-ws-jsonrpc";
export const launch = (request: http.IncomingMessage, socket: rpc.IWebSocket) => {
if (rpc.isResponseMessage(message)) {
          if (typeof message.result === 'object' && has(message.result, 'isIncomplete')) {
            let items = map(get(message.result, 'items'), (

[2020-07-13 13:07] rcjsuen commented on #224
@GNSubrahmanyam Thank you for sharing your solution! OK to close this?

[2020-07-13 13:12] #224 closed

[2020-07-13 13:12] GNSubrahmanyam commented on #224
@rcjsuen Thanks :)

[2020-07-14 23:40] skykick-cm-2 commented on #218
I am actually using PSES on top of socket-io with this library and so far it has worked just fine. Granted we are using a limited set of functionality, I haven't seen any issues with it.

[2020-07-14 23:40] mhintzke commented on #218
I am actually using PSES on top of socket-io with this library and so far it has worked just fine. Granted we are using a limited set of functionality, I haven't seen any issues with it.

[2020-07-15 00:02] mhintzke opened #225 "Appropriate way to re-initialize language client"
In our application, our monaco editor's lifecycle is tied to a specific Angular component (or page; impl details don't really matter) which means a user can visit a page with the editor then leave that page and come back all within a SPA. We want to be able to re-install the editor services on the new editor objects as they are created since leaving the editor page in our app destroys the object.

[2020-07-25 06:23] #212 closed

[2020-07-30 10:57] FunctionRun opened #227 "How use lsp with two editor Instance?"
In single page, have two code editor

[code]
Now, not support install two editor , any idea?

[2020-07-30 12:21] CGNonofr commented on #227
You need to install the services only once, see https://github.com/TypeFox/monaco-languageclient/blob/10f66f4ccfa41c615733071b32e174003f55016f/client/src/monaco-services.ts

Unfortunately, the editor is required for `MonacoCommands` service, so you'll need to implement a multi-editor version of `Commands` (https://github.com/TypeFox/monaco-languageclient/blob/10f66f4ccfa41c615733071b32e174003f5501

[2020-07-31 07:45] FunctionRun commented on #227
If I hava one language client, it's ok . But two language client  for different language server

[2020-07-31 08:01] CGNonofr commented on #227
I'm having some difficulty understanding, is this another issue you are addressing now?

I don't think there is any issue having multiple language clients at the same time.

[2020-07-31 08:44] FunctionRun commented on #227
The same like this: https://www.gitmemory.com/issue/TypeFox/monaco-languageclient/94/488968451

[2020-07-31 08:55] CGNonofr commented on #227
Is this a third issue?

I don't think the protocol allow to do such things, I don't see how it could.

however, some implementations allow via socket to connect more than one client.

[2020-08-03 14:15] akosyakov commented on #164
Theia dropped using of monaco-languageclient and switched completely to VS Code extensions. It means that Theia commiters won't be able to assist in the future. Existing committers with merge rights interested in new PRs please feel free to merge them. Each time new `next` version will be provided.

[2020-08-31 15:30] #217 closed

[2020-09-07 14:58] #222 closed

[2020-09-12 02:49] xgyyx commented on #222
That's a greate way to support client & server in one package

[2020-09-12 23:12] #214 closed

[2020-09-14 15:48] mhintzke commented on #225
Bump (Can I do this? I'm not sure the best way to keep this thread alive)

[2020-09-20 03:26] #218 closed

[2020-09-22 18:18] umesh-timalsina commented on #201
Hello @raxod502. What is the middleware key are you referring to? Is it the name of the language server? Or is it something else?

[2020-09-22 23:57] raxod502 commented on #201
By "middleware key" I simply meant the data that appears immediately after `middleware:` in the sample code.

[2020-09-23 16:04] OliverwengFiltered opened #231 "update needed"
Hi community,

Due to the recent update from `monaco-editor` repo. I think we need this one to be updated as well.

it seems `monaco-editor` removed the dynamic command from `editor._commandService` so it complaints `editor._commandService.addCommand` not a function error.

[2020-09-23 18:58] umesh-timalsina commented on #201
In Riju, I see that you are using Microsoft's python language server. Is the binary available somewhere? Also, what steps did you take to configure it. It would be helpful for my use case to use a standalone server written in a single language rather than a patchwork of different libraries and extensions.

[2020-09-24 03:04] cxwSuperman commented on #125
hello,How to install groovy-language-server with npm, I keep showing errors here.I am also doing this demand

[2020-09-24 08:45] cxwSuperman opened #232 "How to support Groovy Auto-Completion"
How to support Groovy Auto-Completion.

[2020-09-24 09:05] cxwSuperman commented on #232
Now I only know how to introduce the example of "vscode-json-languageservice", but I don't have a clue about groovy. I really want to know how to introduce it on the client side, please help

[2020-09-24 11:48] harshadsindhav commented on #231
Hey team,
I am also facing the same issue.
**operating system:** windows
**browser:** chrome

Please check attached screen shot and help if possible.

Thank you very much.

![addCommand error](https://user-images.githubusercontent.com/13543626/94141014-c3f7e800-fe89-11ea-8a0b-b88b4c665dda.jpg)

[2020-09-24 13:31] raxod502 commented on #201
I suggest referring to the code.

* [Installation](https://github.com/raxod502/riju/blob/6cdc5b0822f2b817d7de3f28391d70c09f843782/scripts/docker-install-phase4.bash#L239-L245)
* [Configuration](https://github.com/raxod502/riju/blob/6cdc5b0822f2b817d7de3f28391d70c09f843782/backend/src/langs.ts#L1939-L1950)

[2020-09-27 19:17] #225 closed

[2020-09-28 06:14] lingxiao-Zhu commented on #202
same error for me

[2020-09-28 08:06] joshuataylor commented on #231
Downgrading to the previous version fixes this issue. 0.21.2 has a lot of changes from 0.20.0, and will require a few updates in the monaco-languageclient codebase to make it work.

[2020-10-01 18:04] GNSubrahmanyam commented on #232
Use https://github.com/prominic/groovy-language-server.

[2020-10-08 07:50] GNSubrahmanyam opened #233 "Any plans for long polling support"
In many organization websocket is blocked in that case long polling helps

[2020-10-11 19:19] itthought commented on #201
I am running Microsoft's python language server on a separate machine and want to connect with the monaco editor. And as per language server documentation I need to pass `"python.linting.enabled": true` config setting to the language server for enabling linting support.

I am using below config for creating MonacoLanguageClient instance.

[code]
Its always sending blank setting to language server.

[2020-10-12 00:10] #227 closed

[2020-10-17 15:39] raxod502 commented on #201
I can't speak for the didChangeConfiguration message, Riju (linked above) has support for setting the initializationOptions in the initialize method (key `init` in Riju language configuration) as well as sending configuration in response to the workspace/configuration message (key `config` in Riju language configuration, currently unused but I just tested that it does work).

[2020-11-02 17:31] CGNonofr commented on #231
here is the commit that removed the feature: https://github.com/microsoft/vscode/commit/3c2423086cd00526fbad9d0e9ac043c64928f1a3

[2020-11-02 21:59] nikeee commented on #231
Maybe the way to do it now is something like mentioned here:
https://github.com/microsoft/monaco-editor/issues/1857#issuecomment-594457013

[2020-11-03 11:37] CGNonofr commented on #231
It seems to not only work, but also to be a better solution since it allows to use more than one editor in the same page without the requirement to "hack" the `MonacoCommands`

Let's hope it wont break anything, I'm working on it

[2020-11-03 11:48] CGNonofr commented on #231
I need https://github.com/TypeFox/vscode-ws-jsonrpc/pull/25 to be merged and published to be able to create the MR on monaco-languageclient

[2020-11-04 09:09] CGNonofr commented on #164
I am willing to help keeping monaco-languageclient up-to-date!

[2020-11-04 13:13] CGNonofr commented on #164
and https://github.com/TypeFox/vscode-ws-jsonrpc as well (I need to update it first)

[2020-11-05 16:57] CGNonofr commented on #231
@nikeee monaco-languageclient doesn't depend on monaco-editor nor monaco-editor-core, and I didn't find any way to get the `CommandRegistry` from the editor instance

[2020-11-12 14:44] CGNonofr commented on #231
I found a way, I'm ready to create the MR as soon as https://github.com/TypeFox/vscode-ws-jsonrpc/pull/25 is published

[2020-11-19 09:53] CGNonofr commented on #164
Is it possible to get access on vscode-ws-jsonrpc as well?

[2020-11-19 11:10] GNSubrahmanyam commented on #123
@akosyakov @rcjsuen How to disable server logs
![image](https://user-images.githubusercontent.com/18217008/99658737-ea02c880-2a85-11eb-9de7-833900f7e237.png)

[2020-11-19 12:13] rcjsuen commented on #123
@GNSubrahmanyam You could try commenting stuff out in [`console-window.ts`](https://github.com/TypeFox/monaco-languageclient/blob/fb587b3ff258d48194c8667a6ade2d0fd87d06bd/client/src/console-window.ts) as I [previously suggested](https://github.com/TypeFox/monaco-languageclient/issues/123#issuecomment-434650955) or try out #124 from @Aaaaash.

[2020-11-23 09:06] RomanNikitenko commented on #164
@akosyakov
could you take a look https://github.com/TypeFox/monaco-languageclient/issues/164#issuecomment-721607947

[2020-11-23 12:25] akosyakov commented on #164
@CGNonofr Could you fork please `vscode-ws-jsonrpc`? `vscode-ws-jsonrpc` is still used in Theia and we don't have capacity to retest it now. Maybe it can be even merged in this repo instead, as another package, i.e. `monaco-jsonrpc`

[2020-11-23 13:00] CGNonofr commented on #164
Fine, I'll take a look at vscode-jsonrpc, thanks for the tip!

[2020-11-25 05:09] GNSubrahmanyam commented on #233
@akosyakov @rcjsuen Any update ?

[2020-11-26 09:04] CGNonofr commented on #233
TypeFox is not maintaining anymore monaco-languageclient so I don't think they'll answer you

However, the transport is handled by https://www.npmjs.com/package/vscode-ws-jsonrpc, your best chance is to fork it and replace the websocket implementation by sockjs/socketio/whatever

[2020-11-30 15:44] CGNonofr commented on #231
version `0.13.1-next.4` published

[2020-11-30 16:12] #231 closed

[2020-12-01 15:49] mattborghi commented on #231
Hi, I have a problem while I updated to the version `0.13.1-next.4` in my `react v.17` app using `webpack v.5`

[code]
Using the following package versions

[code]

In order to work I had to downgrade them (as shown below) but I need to make it work with the latest `monaco-editor` version because it supports julia language.

[code]

Thanks in advance.

[2020-12-01 16:23] CGNonofr commented on #231
Hello!

What is the version of `vscode-languageserver-protocol` in your package-lock (or yarn.lock)?

[2020-12-01 17:50] mattborghi commented on #231
[code]

[2020-12-01 18:50] mattborghi commented on #231
So, it turns out that installing the version `vscode-languageserver-protocol@3.16.0-next.11` solves this problem but I have a new one

[code]

[2020-12-01 20:25] CGNonofr commented on #231
You can refer to the anticipated changelog: https://github.com/TypeFox/monaco-languageclient/blob/master/CHANGELOG.md

[2020-12-01 21:44] mattborghi commented on #231
Indeed, that solve the issue, thank you!

[2020-12-08 20:57] rcjsuen commented on #233
@GNSubrahmanyam I don't have this use case so I do not have anything to add here unfortunately.

[2020-12-13 17:05] miko1991 opened #238 "How does the client initialize different events for the monaco editor?"
Hello, I've been reviewing this repo, and there are basically 2 clients, one in example folder, and one in example/browser folder. the browser one provides code for suggestions, hover etc, but not the first one (example/client.ts). How do the suggestions come up then? How are they connected?

[2020-12-17 11:56] Gilwe opened #239 "Examples/browser doesn't seem to work."
Hi, I'm using mac BigSur(11.1) and trying the browser example but it doesn't seem to work.
yarn version = 1.21.1

Running `yarn` like the setup instructions says leads to those errors:
<img width="556" alt="Screen Shot 2020-12-17 at 13 51 37" src="https://user-images.githubusercontent.com/21289132/102484559-1d2d7d00-406f-11eb-8ac7-beb7935f82de.png">
<img width="1091" alt="Screen Shot 2020-12-17 at

[2020-12-17 11:58] Gilwe commented on #239
My package.json, is just what resides in master at the moment:

[code]

[2020-12-17 13:54] rcjsuen commented on #239
Hm, it seems OK for me.
[code]
All these commands completed for me.

[2020-12-17 18:11] #239 closed

[2020-12-17 18:18] Gilwe commented on #239
My problem was that I didn't run the `yarn` in the root directory beforehand

[2020-12-23 22:52] OliverwengFiltered commented on #231
Hi @CGNonofr

I'm using pure javascript when using monaco-languageclient,

I'm getting same error, after everything upgrades to latest and greatest.

in my case, I can't use "require('monaco-editor-core/esm/vs/platform/commands/common/commands').CommandsRegistry" because it requires build.

I have a bundle js file which exports all the library vars into a global variable, "webpackBundleInstance",

[2020-12-24 02:08] OliverwengFiltered commented on #231
it's all set, got this working.

[2020-12-24 02:10] OliverwengFiltered opened #241 "connection.end not a function"
Hi @CGNonofr ,

I'm wondering if you can reproduce the below issue.

whenever I call monacoLanguageClientConnection.dispose, it throws an error says connection.end is not a function.

here is some screenshots for details.

<img width="573" alt="Screen Shot 2020-12-23 at 9 06 05 PM" src="https://user-images.githubusercontent.com/28814939/103050817-4795a380-4563-11eb-9ce1-64c2fdd21a64.png">
<img wid

[2020-12-25 12:37] #232 closed

[2020-12-26 01:40] krafftsimon opened #242 "Can't resolve 'vscode-languageserver-protocol/lib/main'"
I'm getting the following error in `connection.js`:
```Can't resolve 'vscode-languageserver-protocol/lib/main'```

I was able to get rid of the error by adding the following to my webpack config...
[code]
...but I must be missing something since the example in the repo works fine without that.

[2020-12-28 12:31] Gilwe opened #243 "Listen to 'textDocument/definition' results"
Hi, I'm trying to listen to the event of the results of go-to-definition coming in to the language-client.

I used the example here (not the browser one), connected it to a python-language-server and it is working as expected, go-to definition returns the wanted files.
My problem is that I want to listen to the results coming in and use them.

I have 2 options as I see:
1. use `monaco.languages.re

[2020-12-30 16:33] palkerecsenyi opened #244 "Cannot read property 'addCommand' of undefined"
I'm trying to set up a language server with `gopls` on the backend, and a React app on the frontend.

I get this error the moment the editor loads:

[code]

Interestingly, it works perfectly fine with `bash-language-server` and `pyls`, so it's only Go that's causing this error.

I've established that it's probably not being caused by `gopls` itself, and is most likely an issue with `monaco-languag

[2020-12-30 16:38] CGNonofr commented on #244
The last version of monaco-languageclient is not compatible with the last version of monaco-editor. You need to use the 'next' version (and the usage changed, see the changelog)

[2020-12-30 17:01] palkerecsenyi commented on #244
Great, that works!

FYI for anyone else struggling with this, I upgraded to `"monaco-languageclient": "^0.13.1-next.4"` and I also had to manually install `monaco-editor-core`, and (since I'm using TypeScript) I had to add a `@ts-ignore`:

[code]

Thanks for the quick reply @CGNonofr

[2020-12-30 17:01] #244 closed

[2021-01-04 19:07] CGNonofr commented on #242
What is the version of monaco-editor?
What is the version of monaco-languageclient?